.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.ad-panel-box{
text-align: center;
}

.admin-panel{
display: inline-block;
    width: 50%;
    background: #ffffff;
    box-shadow: 0 0 6px #bababa;
    padding: 1.5em 0 1em 0;
    margin: 6em -11em 0 0;
}

.chk-lbl input[type="checkbox"] {
    float: left;
    padding: 0;
    width: auto;
    margin:0.3em 1em 0 2.7em;
}

.chk-lbl p {
    width: auto;
    float: left;
}
  .bs-selc {
    background: #f5f5f5;
    float: left;
    padding: 6px 5px 0px 8px;
    margin: 0; font-size: 13px;
}