<div class="div-logout">
  <button class="logout-btn" style="float: right;margin-right: 2%;" (click)="logout()">Logout</button>
</div>

<div class="ad-panel-box" style=" bottom:30px;background-image: none;">
  <div class="container-fluid">
    <div class="admin-panel center-block">
      <form class="">
       
          <!-- Form Name -->
         <div style="font-weight: bold;font-size:17px">Groups</div> 

          <!-- Text input-->
          <!-- <div class="form-group"> -->
          <!-- <label class="col-md-4 control-label" for="Name">Group Name</label>  
              <div class="col-md-5">
              <select style="float: left; margin-left:0;" (change)="groupList($event)" #grpId>
              <option selected value="0">--Select--</option>
              <ng-container *ngFor="let data of datas">
              <option *ngIf="data.status=='Enabled'" value="{{data.id}}">{{data.title}}</option>
              </ng-container>
              </select>
              </div> -->

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card" (click)="createGroup()">
                  <img src="assets/img/add-group.png" width="50px" height="50px">
                  <p>Create Group</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" (click)="editGroup()">
                  <img src="assets/img/edit-group.png" width="50px" height="50px">
                  <p>Edit Group</p>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid priv-btns">
            <div class="row">
              <div class="col-md-6">
                <div class="card" (click)="createUser()">
                  <img src="assets/img/add-user.png" width="50px" height="50px">
                  <p>Create User</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card" (click)="editUser()">
                  <img src="assets/img/edit-user.png" width="50px" height="50px">
                  <p>Edit User</p>
                </div>
              </div>
            </div>
          </div>



          <!-- <div class="col-md-12">
              <button class="btn btn-success" (click)="createGroup()" >Create Group</button> 
               <button class="btn btn-success"  (click)="editGroup()" style="margin-top: 4px;" >Edit Group</button> 
            </div> 
           </div> -->



          <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Previlage</label>
        
            <div class="col-md-5 no-padding">
            <div class="col-xs-12 chk-lbl bs-selc" *ngFor="let previlage of selectedRights"  >
            <p>{{previlage.itemName}} &nbsp; {{previlage.mode}}-{{previlage.parent}}</p>
            </div>
            </div>
            </div> 
          -->


          <!-- user button  -->
          <!-- <div class="col-xs-12 priv-btns"> -->
          <!-- <button  class="btn btn-success"  *ngIf="previlages?.length>0" (click)="savePrevilage(preId)">Save Previlage</button> -->
          <!-- <button id="user" class="btn btn-success" (click)="createUser()">Create User</button> -->
          <!-- <button (click)="editUser()" class="btn btn-success">Edit User</button> -->

          <!-- </div> -->
          <!-- end user button  -->

          <!-- <div class="form-group">
            <label style="margin-bottom: 5%;" class="col-md-4 control-label">Activities</label>
            <div class="col-md-5"  *ngFor="let activity of activities; let i=index;"  >
            <input type="checkbox" value="{{activity.name}}" [attr.checked]="activity.selected?'':null">{{activity.name}}
            </div>
            <button  *ngIf="activities?.length>0"  style="  position: absolute; margin-left: -55px;background-color: bisque;">Save Activity</button>
            </div> 
          -->

          <!-- Button -->
          <!-- <button id="submit" name="submit" class="btn btn-success">Submit</button> -->
          <!-- <button id="group" class="btn btn-success">Admin Modal</button> -->


       
      </form>
    </div>
  </div>
</div>