<div id="content" id="page-content-clone" style="margin-top: 4.5%;
    left: 2px;
    position: absolute;
    width: -webkit-fill-available;">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Cloning..." type="pacman">
  </ngx-spinner>
  <div style="background-color: antiquewhite;">
    <h4 class="modal-title">Product Cloning Wizard</h4>
  </div>

  <div class="screen1 well" *ngIf="screen2_values.length==0 && screen1_bool">
    <form #s1="ngForm" style="height: -webkit-fill-available;">
      <div class="modal-body" style="height: auto;">
        <!-- <h2>New Product Information</h2> -->
        <div>
          <label style="color: red;text-decoration: underline;">New Product Creation</label>
          <br><br>
          <ng-container *ngIf="template?.length>0">
            <label>Template</label>

            <!-- <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please enter template name</span> -->
            <angular2-multiselect selectionLimit="1" [data]="template" [(ngModel)]="selectedItems" name="templist" ngModel #templist="ngModel"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
          </ng-container>
        </div>
        <br>
        <!-- <label>Product Type</label>
        <select class="form-control" name="productType" ngModel #productType="ngModel" required>
        <option disabled value="">--Select--</option>
        <option *ngFor="let pt of pType">{{pt}}</option>
      </select>
        <br> -->
        <div>
          <label>Product Code</label>
          <input type="text" [attr.maxLength]="10" class="form-control" name="planCode" ngModel #planCode="ngModel" required (blur)="validProductCode($event)">
        </div>
        <br>

        <div>
          <label>Product Name</label>
          <input type="text" [attr.maxLength]="100" class="form-control" name="planName" ngModel #planName="ngModel" required>
        </div>
        <br>
        <!-- <div>
          <label>Description</label>
          <textarea style="overflow: unset;resize: none;" class="form-control" name="planDesc" ngModel #planDesc="ngModel"></textarea>
        </div> -->
        <!-- <br> -->
        <!-- <div class="row">
    <div class="col-md-6">
      <label>Start Date</label>
      <input class="form-control" type="date" name="startDate" ngModel #startDate="ngModel" required [ngModel]="today">


    </div>
      <div class="col-md-6">
      <label>End Date</label>
      <input class="form-control" type="date" name="endDate" ngModel #endDate="ngModel" required>
    </div>
    </div> -->


      </div>

      <div class="modal-footer">
        <button [disabled]="!s1.valid" type="button" class="btn btn-primary" (click)="screen1(s1,templateNew)">Next</button>

      </div>
    </form>
  </div>

  <div *ngIf="screen2_values.length>0 && screen2_bool">

    <div class=" form-group">
      <input type="text" id="search" name="search" style="margin-left: 2%;margin-top: 1%;">
      <button type="button" style="margin-left: 20px;" (click)="searchProduct(screen2_values)" class="btn btn-primary">
                                            <i class="fas fa-search"></i>Search Product</button>
    </div>

    <table>
      <tr>

        <th>
          <h3>Product Id</h3>
        </th>
        <th>
          <h2>Product Name</h2>
        </th>
      </tr>
      <tr *ngFor="let product of screen2_values;let j=index; " id="rowInterface{{j}}">

        <td style="display: -webkit-box;">
          <input class="form-control productSelected" style="width: 20px;margin-right: 20px;" type="checkbox" (change)="selectPlanCode()">
          <h5 id="{{product.TemplateId}}">{{ product.ProductId }}</h5>
        </td>
        <td>{{product.PlanName}}</td>
      </tr>

    </table>



    <!-- <angular2-multiselect enableSearch="true" [data]="ProductList" [(ngModel)]="selectedProducts" name="plist" 
     ngModel #plist="ngModel" required
    [settings]="productSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
  <label>hiiiiiii</label>
  </angular2-multiselect> -->
    <button class="btn btn-primary" type="button" [disabled]="!planCodeBool" (click)="navScreen3()" style="margin-right: 27px;
    position: absolute;
    right: 11px;
    margin-top: 44px;">Next</button>

    <!--     
      <form #screen2="ngForm">
      <table class="gnrc-table">
        <tr>
           <th>Product Code</th>
           <th>Template Id</th>
           <th>Line Of Business</th>
           <th>Created Date</th>
           <th>Last Modified Date</th>
        </tr>
        <tr *ngFor="let product of screen2_values;let i=index;">
      
         
          <td>
              
            <input type="checkbox" class="form-control planCodeSelected" name="selPlanCode{{i}}" ngModel #selPlanCode="ngModel" (change)="planCodeStatus()">
            <p>{{product.ProductId}}</p>
          </td>
          <td>{{product.TemplateId}}</td>
          <td>{{product.ProductType}}</td>
          <td>{{product.CreatedDate}}</td>
          <td>{{product.ModifiedDate}}</td>
          


        </tr>
      </table>
      <div style="position: absolute;right: 63px; margin-top: 5%;">
      <button class="btn btn-default" type="button" (click)="navScreen1()">Previous</button>
      <button class="btn btn-primary" type="button" [disabled]="!planCodeBool"  (click)="navScreen3()">Next</button>
      </div>
      </form> -->
  </div>

  <div class="row">
    <div *ngIf="screen3_values.length>0 && screen3_bool" class="col-sm-4">
      <div style="background-color: #d7e9f2">
        <div *ngFor="let screen3_val of screen3_values;let i=index;">

          <div  *ngFor="let s3_val of screen3_val;let j=index;">
            <div [hidden]="s3_val.hidden">
              <h4 style="font-size: larger;font-weight: bolder;" *ngIf="j==0">Product Code {{s3_val.data.ProductId}}</h4>
              <input class="form-control" style="width: 20px;float: left;margin-right: 20px;margin-left: 55px;position: absolute;margin-top: 16px;"
                type="checkbox" id="{{s3_val.data.PageName |  slice:0:-5}}{{i}}" (change)="selectAllBlocks(s3_val,$event)">

              <div class="panel-heading" style="border: 1px solid black;border-radius: 8px;" data-toggle="collapse" data-parent="#accordion"
                [attr.href]="'#'+ij">

                <h4 class="panel-title">
                  <div class="row">
                    <div class="col-sm-3">
                      <!-- <input type="checkbox" class="form-control" style="width: 20px;float: left;margin-right: 20px;margin-left: 55px;"> -->
                    </div>
                    <div class="col-sm-6">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{i}}{{j}}">
                        <p style="margin: 11px -26px -19px;"> {{s3_val.data.PageName | slice:0:-5}}</p>
                      </a>
                    </div>
                  </div>


                </h4>

              </div>




              <!-- 
                <h4>{{s3_val.data.PageName}}</h4> -->
              <div id="{{i}}{{j}}" class="panel-collapse collapse">
                <div class="panel-body" style="padding-left: 15%;">
                  <div *ngFor="let pageContent of s3_val.data.PageContent">
                    <div class='row'>
                      <input class="col-sm-3" type="checkbox" [checked]="pageContent.checked" class="form-control" style="width: 20px;float: left;margin-right: 20px;margin-left: 55px;"
                        (change)="selectedPage($event,s3_val,pageContent.blockId,i)">
                      <h4 class="col-sm-6" style="display:-webkit-box;" class="{{s3_val.data.PageName}}">{{pageContent.accordionName}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button id="{{i}}" (click)="navPrevPlanCode(i)" style="float: left; height: 31px;width: 135px;" [hidden]="screen3_val[0].hidden">Previous</button>
          <button id="{{i}}" (click)="navNextPlanCode(i)" style="float: right; height: 31px;width: 135px;" [hidden]="screen3_val[0].hidden">Next</button>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div *ngIf="selectedPages?.length>0 && screen3_bool" >
        <div style="background-color: #d7e9f2;" >
          <div *ngFor="let spages of selectedPages;let q=index;">

            <div *ngFor="let svalues of spages;let r=index;">
              <ng-container *ngIf="svalues.data.enableBlock">
                <div [hidden]="svalues.hidden">


                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordionBlock" [attr.href]="'#s'+r+q">

                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionBlock" href="#s{{r}}{{q}}">
                        <p style="    display: -webkit-inline-box;"> {{svalues.data.PageName | slice:0:-5 }}</p>

                      </a>

                    </h4>

                  </div>

                  <div id="s{{r}}{{q}}" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div *ngFor="let pageContent of svalues.data.PageContent">
                        <div class='row' *ngIf="pageContent.checked">
                          <input class="form-control col-sm-3 blockName" type="checkbox" [checked]="pageContent.checked" style="width: 20px;float: left;margin-right: 20px;margin-left: 55px;"
                            (change)="selectedPage($event,svalues,pageContent.blockId,r)">
                          <h4 class="col-sm-6" style="display: -webkit-box" class="{{svalues.data.PageName}}">{{pageContent.accordionName}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

          </div>
        </div>
        <button (click)="copyProduct(selectedPages)" class="btn btn-primary cloneBtn" style="float:right;margin-right: 21px;margin-top: 40px;">Clone Product</button>
      </div>
    </div>
  </div>




  <ng-template #templateNew>

    <div class="modal-body text-center">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="padding-top: 0px !important;margin-left: 28%;">Template</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <form #templateData="ngForm">
          <div class="modal-body-prompt">

            <label style="float: left;">{{question3}}</label>
            <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please type template name</span>
            <input type="text" class="form-control" [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>


            <div class="modal-body row" style="height: 106px !important;overflow: hidden;padding-left: 0px;">
              <div class="col-md-6">
                <label>{{question4}}</label>
                <select name="productType" ngModel #productType="ngModel" required>
        <option disabled value="">--Select--</option>
        <option *ngFor="let pt of pType" value="{{pt}}">{{pt}}</option>
      </select>
              </div>

              <div class="col-md-6">
                <a (click)="enableProductAdd()">Add New Product Type</a>
                <input *ngIf="enableProdAdd" [attr.maxlength]="20" style="margin: 4px 0px 4px 0px;" type="text" id="newProduct" class="form-control" (keyup)="validProduct($event)">
                <button *ngIf="enableProdAdd" class="btn btn-primary btn-sm" [disabled]="!validProd" style="margin-left: 31%;margin-top: 1px;"
                  type="button" (click)="addProdType()">Save</button>
              </div>
              <span *ngIf="productType.invalid && productType.touched" style="color:red; float:right;">Select Product Type</span>

            </div>
          </div>



          <div class="modal-footer">
            <button [disabled]="!templateData.valid" type="button" class="btn btn-primary" (click)="applydBoard(name.value,productType.value)">Create Template</button>
            <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
          </div>

        </form>


      </div>

    </div>

  </ng-template>


</div>