<div class="modal-dialog" *ngIf="dboardCall">
   <div class="modal-content" style="float: left; width: 89%;" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Master Creation</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="validation(f)">
    <div class="modal-body2">
      <label>Master Mapping Code</label>
      <span *ngIf="code.invalid && code.touched" style="color:red; float:right;">Please enter Master mapping code</span>
      <input type="text" class="form-control"  [(ngModel)]="message2" name="code" ngModel #code="ngModel" required>
     <label>{{question3}}</label>
     <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please enter Master Name</span>     
    <input type="text" class="form-control"  [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
      <!--<label>{{question4}}</label>
      <br>
      <select #productType>
        <option disabled>--Select--</option>
        <option *ngFor="let pt of dataEntry">{{pt}}</option>
      </select>
      <span *ngIf="!dataEntrySelect" style="color:red;">Select Data Entry Modal</span>-->
      <br>

    </div>
        
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="applydBoard(name.value,code.value)">Create Master</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  
  </div>
</div>