.accord-input{
    border: none;
    background: none;
    width: 300px;
    padding: 0px;
}


.datatable-long {
	height: auto !important;
	overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.labelHead {        
    color: #000 !important;
    font-size: 12px !important;        
    width:auto; 
    border: 0px;
}


.field:hover{border: 1px solid limegreen; border-radius:4px;}


.handle {
    font-family: 'Glyphicons Halflings';
    color: #2098d1;
}
.handle:hover {
    border: 1px solid red; border-radius:4px;
}
.handle:before {
    content: "\e068";
}
.sortable-ghost {
    background: #efefef;
}

.table_handle th{
    cursor: move;
}

[contenteditable="true"] {
    background-color: limegreen;
    cursor: auto;
    padding: 3px;
    border-radius: 5px;    
}


td select {
    width: 90px;
}
th img{
    cursor: pointer;
}

.moTable{
    display: inline-flex; height:100px; background-color: none;
}

.edit{
    width: 20px;    
    padding:2px;
}


.field_1{
        margin: 0px -3px;
}

#page-content-wrapper-NewBusiness{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-termlink{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-sumassured1{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-sumassured2{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-saindex{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-relation{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-planconv{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-modalfactor{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-laageDetails{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-la{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-calculateAge{
    width: 100%;
    overflow-x: hidden;
}

#page-content-wrapper-annexure{
    width: 100%;
    overflow-x: hidden;
}

.panel-body tle{
        overflow-x: overlay;
}
    .ep{
        width: 20px;
     margin-left: 0px; 
    padding: 2px;
}

#expand{
    border: none;
    background: transparent;
    margin-top: 6px;
    padding:0px;
}

.mand{
    color: red;
    margin-left: 2px;
    margin-top: 4px;
 

}

.mandMsg{
       display: inline;
       font-weight: 300;
    margin-top: 14px;
    font-size: smaller;
    color: red;
    margin-left: 12px;

}

/*For Labels Length*/
.field_set .inputlabel {
    margin: 4px 0 0 0;
    padding: 5px 1px;
    width: 65% !important;
    text-overflow: ellipsis;
}

.lessColumn{
    display: inline-flex;
}