<div class="modal-dialog" *ngIf="!dboardCall">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add New Block</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="validation(f)">
    <div class="modal-body">
      
     <label>{{question1}}</label>
      <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please type block name</span>
      <input [attr.maxlength]="20" type="text" class="form-control"  [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
      <label>{{question2}}</label>
      <span *ngIf="!selectPT" style="color:red; float:right;">Please type block type</span>
      <br>
      <select #selectedPanel (change)="panelType(selectedPanel.value)">
        <option disabled>--Select--</option>
        <option value="panel-body">Panel Block</option>
        <option value="panel-body tle">Panel Table</option>
      </select>
      <!-- <input tooltip content="{{msgplaceholder2}}" type="text" class="form-control"  [(ngModel)]="message2" name="name">   -->
      
    </div>
 
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply(selectedPanel.value)">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  
  </div>  
</div>


<div class="modal-dialog" *ngIf="dboardCall">
   <div class="modal-content" style="float: left; width: 89%;" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Product Creation</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="validation(f)">
    <div class="modal-body2">
      
     <label>{{question3}}</label>
     <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please type product code</span>
     <input type="text" class="form-control" [attr.maxLength]="10"  name="name" ngModel #name="ngModel" required (keypress)="planUpper($event)">
       <label>Product Name</label>
     <span *ngIf="pname.invalid && pname.touched" style="color:red; float:right;">Please type product name</span>
     <input type="text" class="form-control" [attr.maxLength]="100"  name="pname" ngModel #pname="ngModel" required>
      <!-- <label>{{question4}}</label>
      <br>
      <select name="productType" ngModel #productType="ngModel" required  >
        <option disabled value="">--Select--</option>
        <option *ngFor="let pt of pType">{{pt}}</option>
      </select>
      <span *ngIf="!pTypeSelect" style="color:red;">Select Product Type</span>
      <br> -->
      <label>Template</label>
      <br>  
      <select (change)="selectedTemplate($event)" name="templateType" ngModel #templateType="ngModel" required>
          <option disabled value="">--Select--</option>
          <option *ngFor="let te of template" value="{{te.FolderName}}">{{te.FolderName}}</option> 
      </select>
      <span *ngIf="!pTypeSelect" style="color:red;">Template</span>
      <br>
      <!-- <div *ngIf="productCopy">
      <label>{{question5}}</label>
      
      <br>
      <select #copyExistingProduct (change)="selDD(copyExistingProduct.value)">
        <option disabled value="">--Select--</option>
        <option *ngFor="let te of product" value="{{te.FolderName}}">{{te.FolderName}}</option>
      </select>
     
       <ng-container *ngIf="pageNames?.length>0"> 
      <input type="button" *ngFor="let pn of pageNames" (click)="copyETemplate(pn.name)" value="{{pn.name}}">
       </ng-container>
      </div> -->

    </div>
        
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="applydBoard(name.value,'',templateType.value,pname.value)">Create Product</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  
  </div>
</div>


<div class="modal-dialog" *ngIf="existingTemplate">
   <div class="modal-content" style="position: absolute; margin-left: 92%;width: 42%;" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Copy Options</h4>
    </div>
    <div *ngFor="let te of product" class="sCheckBox">
     
       <label *ngFor="let fname of te.PageName">{{fname.PageName}}         
       <button (click)="transferValues(fname.PageName)">Copy Datas</button>
      <!-- <input (change)="tCopyPages($event)" type="checkbox" #cbox style="float: left; width: 42px;   height: 17px;"> -->
        </label>  
        
   </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-primary" (click)="copyBoard($event)">OK</button>
      <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
    </div>

  
  </div>

</div>