.tc1{
    cursor: move;
}

.panel-heading{
    padding: 4px 15px;

}

.field_1{
        margin: 0px -3px;
}
 
 #page-content-wrapper-Risk{

    position: relative;
    transition: all 0.5s ease;
    width: 100%; 
    overflow-x: hidden;
}  


#expand{
    border: none;
    background: transparent;
    margin-top: 6px;
    padding:0px;
}

.overlay {

    pointer-events:none;
    position: absolute;
    margin-top: 23%;
    margin-left: 30%;    
z-index: 1 ;
 box-shadow:none;

  
}
.check{
        background-color:#EFEFEF;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6; 
    filter: alpha(opacity=40); 
    pointer-events: none;

}

