<div class="modal-dialog" style="margin-top: 225px;">
  <div class="modal-content" style="overflow: scroll;height: 500px;">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">List of values</h4>
      <h4> {{this.table}}</h4>
    </div>
    <br>
    
    
  
    <form #f="ngForm">
      <div class="modal-body-prompt">
        <label>Search Text :</label>
           <!-- <ng-template #company let-r="result" let-t="term">
                      <ngb-highlight class="first-child" [result]="r.code" [term]="t"></ngb-highlight> |
                      <ngb-highlight class="second-child" [result]="r.desc" [term]="t"></ngb-highlight> |
                  </ng-template>
                    <input id="typeahead-basic" type="text" class="form-control input-auto-complete" name="" value=""
                      [ngbTypeahead]="searchCompany" [resultTemplate]="company" [inputFormatter]="formatterCompany"
                    />  -->
        <input type="text" style="width: 350px;margin-bottom:20px" class="form-control" [(ngModel)]="searchText" id="search" required  name="search"> 
 <table class="gnrc-table">
          <thead>
            <tr *ngIf='tables'>
              <th class="col-md-6 allchk"><input style="width: 13px;
    margin-left: 38px;" [disabled]='!allchk' type="checkbox" class="form-control allchk" id="selallCheck" (change)="selAll($event)"></th>
    <th class="col-md-3">Code</th>
              <th class="col-md-6">Description</th>
              <th class="col-md-6">Code1</th>
              <th class="col-md-6">Desc1</th>
             
            </tr>
            <tr *ngIf='!tables'>
              <th class="col-md-6 ">select</th> 
              <th class="col-md-6 ">Code</th>
              <th class="col-md-6">Description</th>
              <th class="col-md-6">Code1</th>
              <th class="col-md-6">Desc1</th>
             
            </tr>
          </thead>
          <tr *ngFor="let em of searchList | grdFilter:{ code: searchText, desc: searchText};let i = index " class="listSearch">
            <td *ngIf='tables' class="col-md-6 productselected">
              <input id="{{em.code}}"  type="checkbox"  style="width: 13px;
              margin-left: 26px; overflow: auto;" [checked]="em.selected" class="form-control"  (click)="selOpt($event)"></td>
              <td *ngIf='!tables' class="col-md-6 productselected">
                  <!-- <ng-template #company let-r="result" let-t="term">
                      <ngb-highlight class="first-child" [result]="r.code" [term]="t"></ngb-highlight> |
                      <ngb-highlight class="second-child" [result]="r.desc" [term]="t"></ngb-highlight> |
                  </ng-template>
                    <input id="typeahead-basic" type="text" class="form-control input-auto-complete" name="" value=""
                      [ngbTypeahead]="searchCompany" [resultTemplate]="company" [inputFormatter]="formatterCompany"
                    /> -->
                <input id="{{em.code}}" name='foo' type="radio"  style="width: 13px;
                margin-left: 26px; overflow: auto;" [checked]="em.selected" class="form-control"  (click)="selOpt($event)"></td>
              <td id="{{em.code}}"class="col-md-6">{{em.code}}</td>
              <td id="{{em.code}}"class="col-md-6">{{em.desc}}</td>
              <td id="{{em.code}}"class="col-md-6">{{em.code1}}</td>
              <td id="{{em.code}}"class="col-md-6">{{em.desc1}}</td>
      </tr>
      <tr *ngIf="(searchList | filterBy: selectedSearchFilter).length === 0">
          <td>No matching found</td>
        </tr>
        </table>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary" (click)="makeSelection()">Select & close</button>
          <button type="button" class="btn btn-primary" (click)="close()">Close</button>
        </div>
        <!--  -->
      </div>

    </form>
      </div>
  </div>
