.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
 
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
 
.fade.in {
    opacity: 1;
}
 
.modal-dialog { 
    position: relative;
    width: auto;
    margin: 10px;    
}
 
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
 
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
 
@media (min-width: 768px) {
    .modal-dialog {
        width: 500px;
        margin: 170px auto;
    }
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
}

.modal-footer{
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
}

.modal-body-prompt{
    position: relative;
    padding: 15px;
      height: 262px;

}

input.ng-touched.ng-invalid{
    border:1px solid red;
}

th,td{
    border:1px solid black;
}

.selected-list > .c-btn {
    height: auto !important;
}
.gnrc-table th,td{padding: 3px;
    border-top: 1px solid #cccccc; border-left: none; border-right: none;
    border-bottom: 1px solid #cccccc;
}
    .gnrc-table td{
    font-size: 13px;
    color: #444;
    
}
.gnrc-table th{
    font-size: 12px;
    color: #444;
    font-weight: 600;
}
    .gnrc-table td:nth-child(even){background:  #f9f9f9; }