<div  *ngIf="upload" class="modal-dialog" >
    
  <div class="modal-content" style="float: left; width: 89%;" >
   <div class="modal-header">
     <button type="button" class="close" (click)="close()">&times;</button>
     <h4 class="modal-title">Data Upload Wizard</h4>
   </div>
   <form #f="ngForm">
   <div class="modal-body-prompt">
 
  
      <div>
       <label for="title">Product :</label>
       <input type="text" class="form-control" id="product" required [(ngModel)]="this.product" name="product" disabled>
     </div>
     <div>
       <label for="author">Module :</label>
       <input type="text" class="form-control" id="moduleid" [(ngModel)]="this.Module" required  name="moduleid" disabled>
     </div>
     <div>
       <label for="url">Block :</label>
       <input type="text" class="form-control" id="blockid" [(ngModel)]="this.block" required  name="blockid" disabled>
     </div>
     <!-- <input type="file" ng2FileSelect [uploader]="uploader"   (click)="uploader.uploadAll()"/> -->
     <input type="file" id="files"  ng2FileSelect [uploader]="uploader" accept=".xls,.xlsx" />
     <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
     <span class="glyphicon glyphicon-upload"></span> Upload
     </button>
     <!-- <div>
       <button type="submit" class="btn btn-primary" style="margin-left: 188px;margin-top: -45px;"(click)="downloadTemplate()">Download Template</button>
     </div> -->
    

    
   </div>
         
  
   </form>
 
 </div>
</div>

<div  *ngIf="!upload" class="modal-dialog" >
    <div class="modal-content" style="float: left; width: 89%;" >
     <div class="modal-header">
       <button type="button" class="close" (click)="close()">&times;</button>
       <h4 class="modal-title"></h4>
     </div>
     <form #f="ngForm">
     <div class="modal-body-prompt">
   
      <!-- <div class="form-group">
        <label for="name">Download Option</label>
        <button  class="btn btn-primary" type="submit"  id="option" (click)='downloadTemplate()'>Immediate</button>
        <button class="btn btn-primary" type="submit"  id="email">Email</button>
      </div> -->
<div class="form-group">
            
</div>

      <div class="form-group">
        <label for="name">Enter email  to send the file to Email</label>
        <input type="text" class="form-control error" value={{this.email}} [(ngModel)]="this.email" id="emailid" required  name="emailid" disabled>
      </div>
      <div class="form-group">
        <p  (click)='showmore()'><u>Want to send to more recipients?</u></p>
        
      </div>

      <button class="btn btn-primary" type="submit"  id="email" style="    margin-left: 45%;" (click)="sendEmails()">Email</button>
      <button  *ngIf='showntn' type="submit" class="btn btn-primary" style="margin-left: 5%;" (click)='openEmailWizard()'>More Recipients</button>
      <button type="submit" class="btn btn-primary" style="margin-top: -56px;
      margin-left: 11%;" (click)="downloadTemplate()">Data Download</button>
       <div>
      
       </div>
      
  
      
     </div>
           
    
     </form>
   
   </div>
  </div>