body{

/*
     background: wheat; 
  background: -webkit-linear-gradient(right, wheat, #8DC26F);
  background: -moz-linear-gradient(right, wheat, #8DC26F);
  background: -o-linear-gradient(right, wheat, #8DC26F);
  background: linear-gradient(to left, wheat, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  */
}