@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding-top: 1px;
  margin: auto;
  margin-left: 300px;
  background-color: bisque;
  margin-top: 20px;
  float: left;
  height: 300px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
  
  width: 100%;
  box-shadow: none;

}
/*.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
      width: 80px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}*/
/*.form button:hover,.form button:active,.form button:focus {
  background:red;
}*/
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

h2{
    color:#43a047;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.dpage{
    width: 400px;
    height: 332px;
    background-color: bisque;
    margin-left: 500px;
    margin-top: 20px;
    margin-right: 20px;
    border: 3px solid;
    border-radius: 10px;
}

button:hover{
  background-color: #4cae4c;
}

button{
  width:100%;
}

input.ng-touched.ng-invalid{
  border:1px solid red;
}

.validationMsg{
  color:red;
  font-size: smaller;
  margin-left: 11px;
}

.overlay {

    pointer-events:none;
    position: absolute;
    margin-top: 23%;
    margin-left: 30%;    
z-index: 1 ;
 box-shadow:none;

  
}
.check{
        background-color:#EFEFEF;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4; 
    filter: alpha(opacity=40); 
    pointer-events: none;

}
