<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      </button>
    <a class="logo" href="#"><img src="./assets/img/a-logo.png" width="33" /></a>         
      
    </div><!-- navbar-header-->
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><button (click)="toggleClick();" class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> 
                <!--<span class="glyphicon" aria-hidden="true"><img src="./assets/img/menu_icon.png" /></span>-->	</button></li>
        </ul>
            <a class="navbar-brand">PRODUCT CONFIGURATOR</a>
        <div class="pull-right user_img">
            
            <a href="#" data-toggle="modal" data-target="#myModal" class="user-icon"> 
                    {{username}}     
            </a>
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
    </div><!-- bs-navbar-collapse-1 -->	
    
    <div style="right: -283px;" id="theme-options" class="admin-options">
            <a (click)="themeSwitch($event)" class="theme-switcher">
                <i class="glyphicon glyphicon-cog"></i></a>
            <div class="theme-switcher-wrapper">
                <h2>Theme options</h2>
                <ul>
                    <li ><a (click)="theme1($event)"></a></li>
                    <li ><a (click)="theme2($event)"></a></li>
                    <li><a  (click)="theme3($event)"></a></li>
                    <li ><a (click)="theme4($event)"></a></li>
                    <li ><a (click)="theme5($event)"></a></li>
                    <li ><a (click)="theme6($event)"></a></li>
                </ul>
            </div>
        </div>
     <!--theme-options-->
</nav>

