<div class='parent'>
    <label for='hy'>Need to be able to quickly delete stuff when it spills out of the chosen containers? Note how you
        can easily sort the items in any containers by just dragging and dropping.</label>
    <div class='wrapper'>
        <div class='container' [dragula]='"third-bag"'>
            <div>Banana Boat</div>
            <div>Orange Juice</div>
            <div>Cuban Cigar</div>
            <div>Terrible Comedian</div>
            <div>Anxious Cab Driver</div>
            <div>Thriving Venture</div>
            <div>Calm Clam</div>
        </div>
    </div>
    
</div>