<div class="parent">
    <label for="hy">AETINS</label>
    <div class="wrapper">
        
        <div class="container" [dragula]="'second-bag'">
          
          
            <div><label class="ok" id="s1"></label><input type="text" value="1"></div>
            <div><label class="ok" id="s2" ></label><input  type="text" value="2"></div>
                <div><label class="ok" id="s3"></label><input type="text"  value="3"></div>
                <div><label class="ok" id="s4"></label><input type="text"  value="4" ></div>
        </div>

           


         <div class="container" [dragula]="'second-bag'">
            
        </div>
        
    </div>
   
</div> 