<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/login.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Login Screen</title>
</head>

<body>
   <div class="lg-background">
    <!-- header* -->
    <div class="header-login">
        <div class="container-fluid">
            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 text-center">
                     <img src="assets/img/logo.png" alt="" class="logo">
                </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
    <!--End of header* -->
   
    <div class="container-fluid">
        
        
            <div class="row">
                <!--  Premium Input -->
                <div class="col-sm-12 text-center" style="margin:4em 0 4em 0;">
                    <!-- operation-->
                  <div class="col-lg-4 login-screen" style="display: inline-block; float: none;">
                  	<h1>PRODUCT CONFIGURATOR</h1>
                  	<form (ngSubmit)="login(f)" #f="ngForm">    
                  	  <div class="form-group has-success has-feedback">
					  <label class="control-label sr-only">Input group with success</label>
					  <div class="input-group1">
						<span class="input-group-addon"><img src="assets/img/username-icon.png" alt="img"></span>
                        <input id="pcUser" name="uname" (blur)="checkAdmin($event)" placeholder="username" ngModel required #uname="ngModel" class="form-control"  >
                        <span *ngIf="uname.invalid && uname.touched" class="validationMsg" style="float:right;">Please Enter Username</span>	
					  </div>
					</div>  
                	 
                 	 <div class="form-group has-success has-feedback">
					  <label class="control-label sr-only">Input group with success</label>
					  <div class="input-group1">
						<span class="input-group-addon"><img src="assets/img/pass-icon.png" alt="img"></span>
                        <input  type="password" name="pwd" placeholder="password" ngModel required #pwd="ngModel" class="form-control">
                        <span *ngIf="pwd.invalid && pwd.touched" class="validationMsg" style="float:right;">Please Enter Password</span>
					  </div>
					</div>
                  	 <div *ngIf="adminUser">
                  	 <h2 class="blue-heading">Process Mode</h2>
                  	 <label class="form-rad"><input type="radio" (click)="selectMode($event)" type="radio" [(ngModel)]="myVar" name="myVar" value="1"> Create/Modify Template</label>
                       <label class="form-rad"><input type="radio" (click)="selectMode($event)" type="radio" [(ngModel)]="myVar" name="myVar" value="2"> Configure Product</label>
                        <span *ngIf="selMode==false" class="validationMsg" style="float:right;">Please Select Mode</span> 
                    </div>
                  	 <a *ngIf="adminUser" (click)='openForgetpswd(f)' class="forgot-pass">Forgot Password?</a>
                  	 <button class="btn btn-primary form-control login-btn">Login</button>
                  	</form>
                  </div>
  
                </div>
                <!-- Premium Details -->
               
            </div>
        
    </div>
    
    <!-- End of Container -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>


</body>

</html>