<div class='parent'>
    <label for='hy'>Drag handles float your cruise?</label>
    <div class='wrapper'>
        <div class='container' [dragula]='"sixth-bag"'>
            <div><span class='handle'>+</span>Move me, but you can use the plus sign to drag me around.</div>
            <div><span class='handle'>+</span>Note that <code>handle</code> element in the <code>moves</code> handler is
                just the original event target.
            </div>
        </div>
        <div class='container' [dragula]='"sixth-bag"'>
            <div><span class='handle'>+</span>This might also be useful if you want multiple children of an element to
                be able to trigger a drag event.
            </div>
            <div><span class='handle'>+</span>You can also use the <code>moves</code> option to determine whether an
                element can be dragged at all from a container, <em>drag handle or not</em>.
            </div>
        </div>
    </div>
  
</div>