<div class='parent'>
    <label for='hy'><strong>Angular-specific example.</strong> Fancy some nested <code>ngFor</code>?</label>
    <div class='wrapper'>
        <div class='container' *ngFor='let group of groups' [dragula]="'nested-bag'">
            <span>{{group.name}}</span>
            <div *ngFor='let item of group.items' [innerHtml]='item.name'></div>
        </div>
    </div>
    
</div>