<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add New Item</h4>
    </div>
    <form #f="ngForm">
      <div class="modal-body" >
  <div style="height: 485px !important;
    display: block;">
        <label>{{fquestion1}}</label>
        <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please type item name</span>
        <input type="text" class="form-control" [(ngModel)]="fmessage1" [attr.maxlength]="12" name="name" ngModel #name="ngModel" required>
        <label>{{fquestion2}}</label>
        <span *ngIf="!selectIT" style="color:red; float:right;">Plese select item type</span>
        <br>
        <select #selectedIType (change)="itemType(selectedIType.value)" required>
          <option disabled>--Select--</option>
          <option value="text">Text Box</option>
          <option value="select">Drop Down</option>
          <option value="date">Date Picker</option>
        </select>
        <br>
        <label>{{fquestion3}}</label>
        <span *ngIf="!selectFT" style="color:red; float:right;">Plese select field type</span>
        <br>
        <select #selectedFType (change)="fieldType(selectedFType.value)" required>
          <option disabled>--Select--</option>
          <option *ngFor="let ft of fType" value="{{ft}}">{{ft}}</option>
        </select>
        <br>
        <label>{{fquestion4}}</label>
        <span *ngIf="!selectMT" style="color:red; float:right;">Plese select masking type</span>
        <br>
        <select #selectedMType (change)="maskType(selectedMType.value)" required>
          <option disabled>--Select--</option>
          <option *ngFor="let mt of mType" value="{{mt.id}}">{{mt.n}}</option>
        </select>

        <table *ngIf="listOfValues">
          <tr>
            <th style="text-align: center;">
              <label>List Code</label>
            </th>
            <th style="text-align: center;">
              <label>List Values</label>
            </th>
            <button class="btn btn-info md" type="button" (click)="incRow($event)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-info md" type="button" (click)="decRow($event)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </tr>
          <tr class="tValues" *ngFor="let t of tRow; let i=index; ">
            <td>
              <input type="text" style="text-align:'center'" value="{{t.optionLabel}}" (blur)="getSelLabel(i,$event)" />
            </td>
            <td>
              <input type="text" style="text-align:'center'" value="{{t.optionValue}}" (blur)="getSelValue(i,$event)" />
            </td>
          </tr>

          <tr *ngIf="tRow.length>0">
            <th style="text-align: center;">
              <label>Set Default Value</label>
            </th>
            <td>
              <select id="defValue">
                <option value='' disabled>--Select--</option>
                <option *ngFor="let dv of tRow" value="{{dv.optionValue}}">{{dv.optionLabel}}</option>
              </select>
            </td>
          </tr>
        </table>

        <div>
          <label>Display</label>
          <br>

          <select id="showHide" required>
            <option value='' disabled>--Select--</option>
            <option value=true>Show</option>
            <option value=false>Hide</option>
          </select>

        </div>

        <div>
          <label>Read Only</label>
          <br>

          <select id="readOnly" required>
            <option value='' disabled>--Select--</option>
            <option value=true>True</option>
            <option value=false>False</option>
          </select>

        </div>

        <div *ngIf="numBool || dateBool">
          <label>Minimum Value</label>
          <input *ngIf="numBool" (blur)="minMaxNumValidate($event)" type="number" class="form-control" name="min" ngModel #min="ngModel" id="minVal" [(ngModel)]="minVal" value="{{minVal}}">
          <input *ngIf="dateBool" (blur)="minMaxDateValidate($event)" type="date" class="form-control" name="min" ngModel #min="ngModel" id="minVal" [(ngModel)]="minVal" value="{{minVal}}">
        </div>

        <div *ngIf="numBool || dateBool">
          <label>Maximum Value</label>
          <input *ngIf="numBool" (blur)="minMaxNumValidate($event)" type="number" class="form-control" name="max" ngModel #max="ngModel" id="maxVal" [(ngModel)]="maxVal" value="{{maxVal}}">
          <input *ngIf="dateBool" (blur)="minMaxDateValidate($event)" type="date" class="form-control" name="max" ngModel #max="ngModel" id="maxVal" [(ngModel)]="maxVal" value="{{maxVal}}">
        </div>
        <!-- <div>
          <ng-container *ngIf="blockNames.length>0">
            <label>Select Block Name for Mapping From</label>

            <angular2-multiselect [data]="blockNames" [(ngModel)]="selectedItems" name="blockNameslist" ngModel #blockNameslist="ngModel"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
          </ng-container>
        </div> -->

        <!-- <div>
          <ng-container *ngIf="fieldNames.length>0">
            <label>Select Block Name for Mapping From</label>

            <angular2-multiselect [data]="fieldNames" [(ngModel)]="selectedFieldItems" name="fieldNameslist" ngModel #fieldNameslist="ngModel"
              [settings]="dropdownFieldSettings" (onSelect)="onFieldItemSelect($event)" (onDeSelect)="OnFieldItemDeSelect($event)"
              (onSelectAll)="onFieldSelectAll($event)" (onDeSelectAll)="onFieldDeSelectAll($event)"></angular2-multiselect>
          </ng-container>
        </div> -->

        <div *ngIf="!listOfValues">
          <label>Default Value</label>
          <input *ngIf="textBool" type="text" class="form-control" [(ngModel)]="dValue" name="defaultValue" ngModel #defaultValue="ngModel"
            id="dValue" value="{{dValue}}">
          <input *ngIf="dateBool" type="date" class="form-control" [(ngModel)]="dValue" name="defaultValue" ngModel #defaultValue="ngModel"
            id="dValue" value="{{dValue}}">
          <input *ngIf="numBool" type="number" class="form-control" [(ngModel)]="dValue" name="defaultValue" ngModel #defaultValue="ngModel"
            id="dValue" value="{{dValue}}">
        </div>
        <div>
          <label>{{fquestion5}}</label>
          <!--<span  style="color:red; float:right;">Plese select masking type</span>-->
          <br>
          <select #mm id="mme" (change)="mandatoryType(mm.value)" required>

            <option *ngFor="let mm of mandatoryChange" value="{{mm.value}}">{{mm.name}}</option>
          </select>
        </div>
        <div>
          <label>Mandatory Message</label>
          <input type="text" class="form-control" name="mandmsg" ngModel #mandmsg="ngModel" id="mmsg" >
        </div>



      </div>
</div>
      <div class="modal-footer" style='margin-top: -10px;'>
        <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply(selectedIType.value,selectedFType.value,selectedMType.value)">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>