html{

}
body{background-color:transparent !important;
float: left;
margin-top: 0px;
}


#infoIcon{  

     width: 100px; 
     height: 100px; 
     float: left; 
     background:url(../img/i3.png);
     background-size: cover;
     background-position: center;
     margin-left: 40px;
     margin-bottom: 70px;

}



.featIcon{


     width: 100px; 
     height: 100px; 
     float: left; 
     background:url(../img/i1.png);
     background-size: cover;
     background-position: center;
     margin-left: 40px;
     margin-bottom: 70px;   

}

.addc{
    
     width: 100px; 
     height: 100px; 
     float: left; 
     background:url(../img/i2.png);
     background-size: cover;
     background-position: center;
     margin-left: 44px;
     margin-bottom: 50px;
     

}





*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, input, button {
  font-family: Georgia, Helvetica;
  font-size: 17px;
  color: #ecf0f1;
}

h1 {
  text-align: center;
  background-color: #AC5C7E;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid #A13462;
  text-align: center;
  padding: 10px;
}

h3 div {
  margin-bottom: 10px;
}

.tagline {
  margin-top: 0;
}

.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

a {
  font-weight: bold;
}
a,
a:hover {
  color: #ecf0f1;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

label {
  display: table-header-group;
  margin-bottom: 15px;
}

sub {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  
  height: 100px;
  width:100px;
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #942A57;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}

button {
  background-color: #ecf0f1;
  color: #942A57;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #ecf0f1;
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.wrapper {
  
     display: inherit;
  
    
  
}
.container {
  background-color:#e74c3c;
 
     display: inline-block;

  background-color: white;
  
}
.container:nth-child(odd) {


  background-color:white;
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container div,
.gu-mirror {
  margin-top:0px;

  display: block;
 
  transition: opacity 0.4s ease-in-out;
}


.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/*
.container .ex-moved {
  background-color: #e74c3c;
}
*/
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}


.container3 {
  background-color:#e74c3c;
 
  display: table-row;
  margin-left: 10px;
  background-color: white;
  
}
.container3:nth-child(odd) {
  background-color:white;
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container3 div,
.gu-mirror {
  margin-top:0px;
  margin: 10px;
  display: block;
 
  transition: opacity 0.4s ease-in-out;
}


.container3 div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}



.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
nested-repeat-example .container span {
  display: block;
  padding: 8px;
}

.field_set{
       padding-left: 10px;
       padding-right: 11px;
       padding-bottom: 15px;
       padding-top:15px;
       background-color: white;
       
       
     
}

.field_set:hover{
  border:2px solid green;
  border-radius: 10px;
  
}


.vt:hover{
  background-color: antiquewhite;
}




.field_set:hover input:first-child{
  background-color: antiquewhite;
}

img{
  
    border-radius: 6px;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

img:hover{
   background: #ff7b29;
    border-radius: 25%;
    cursor: pointer;
}

