<div class="modal-dialog" style="margin-top: 200px; width: 400px;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add Row</h4>
    </div>
    <form #f="ngForm">
      <div class="modal-body">
        <div >
          <label>Enter number of records</label>
          <input type="number" class="form-control" (blur)="minNumValidate($event)" name="noOfRow" ngModel #noOfRow="ngModel" id="noOfRowVal" [(ngModel)]="noOfRowVal" value="{{noOfRowVal}}" required>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply()">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>