<div class="modal-dialog" style="    margin-top: 225px;">
  <div class="modal-content" style="overflow: -webkit-paged-y;">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Email</h4>
    </div>
    <br>
    
    
  
    <form #f="ngForm">
      <div class="modal-body-prompt">
        <table style="display: block;
        max-height: 200px;
        overflow-y: auto;" class="gnrc-table">
          <thead>
            <tr>
              <th class="col-md-6"><input style="width: 18px;
    margin-left: 26px;" type="checkbox" class="form-control" id='selall' (change)="selAllUser($event)"> Select User</th>
              <th class="col-md-6">Name</th>
              <th class="col-md-6">Email Id</th>
              <th class="col-md-6">User Id</th>
            </tr>
          </thead>
          <tr *ngFor="let em of emaillist" class="listUsers">
            <td class="col-md-6"><input style="    width: 18px;
    margin-left: 26px;" type="checkbox" class="form-control" (change)="selUser()"></td>
            <td class="col-md-6">{{em.firstname }}{{em.lastname}}</td>
            <td class="col-md-6">{{em.email}}</td>
            <td class="col-md-6">{{em.username}}</td>
          </tr>
        </table>
        <div class="modal-footer">
          <button [disabled]="!userSelected" type="button" class="btn btn-primary" (click)="sendMail()">OK</button>
        </div>

      </div>

    </form>
      </div>
  </div>
