<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeAlert()">&times;</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <br>
 
    <h4>Total Records :{{tot}}</h4>
    <h4>{{process}}</h4>
    <h4>Start Date :{{date}}</h4>
    <h4>End Date  :{{date}}</h4>

  
    
  
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
    </div>
  </div>
  </div>

      





