<!-- <app-sidebar style="display:none"></app-sidebar> -->

<div id="content" >
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-scale-multiple">
</ngx-spinner>
<div class="clearfix"></div>
<div class="container" id="page-content-wrapper">

    

<div>
    
<h4 class="" style="margin-left:360px; margin-top: 70px;display: inline-block;">Data Upload Dashboard</h4> 
<a class="sub-l-img" style="margin-left: 50%;text-decoration: underline;"  routerLink="/productConfig/dashboarddata" routerLinkActive="active"> 
    <img src="assets/img/back_btn.png" class="back_btn" />
    <b >Dashboard</b>
     </a>
     
      <table class="gnrc-table" style="    height: 300px;
    overflow: scroll;
    display: -webkit-box;">
          <tr>
              <th >
                Upload Ref.No</th>
              <th>Product</th>
              <th>Module</th>
              <th>Block</th>
              <th>Uploaded By</th>
              <th>Uploaded Date</th>
              <th>Current Status</th>
             
          </tr>
          <ng-container *ngIf="uploaddata?.length>0">

               <tr  *ngFor="let data of uploaddata" >
                   <td (click)='dowloadtemplate(data.ProductName,data.refid)'><i class="fa fa-download" aria-hidden="true"></i>{{data.fileName}} </td>
                   <td>{{data.ProductName}}</td>
                   <td>{{data.PageName}}</td>
                   <td>{{data.accordionName}}</td>
                   <td>{{data.user}}</td>
                   <td>{{data.udate}}</td>
                   <td *ngIf=!data.err (click)='showProgress(data)' style="text-decoration: underline">Process Completed ({{data.count*(data.row-1)}} Records)</td>
                   <td *ngIf=data.err (click)="showError(data)" style="text-decoration: underline">Process failed (Invalid data format)</td>
                
          </tr>     
          </ng-container>
          
      </table>

      <!--  style='margin-top: 200px;
      margin-left: 865px;'-->
</div>

<br/>

</div>

<div class="container" id="datadownload">

    

  <div>
      
  <h4 class="" style="margin-left:360px; margin-top: 70px;display: inline-block;">Data Download Dashboard</h4> 
        <table class="gnrc-table" style="    height: 300px;
    overflow: scroll;
    display: -webkit-box;">
            <tr>
                <th>Download Ref.No </th>
                <th>Product</th>
                <th>Module</th>
                <th>Block</th>
                <th>Downloaded By</th>
                <th>Downloded Date</th>
                <th>Downloaded Option</th>
                <th>Email Recipients</th>
               
            </tr>
            <ng-container *ngIf="downloaddata?.length>0">
                <tr *ngFor="let datad of downloaddata">
                    <ng-container *ngIf="datad.mode">
                       <td>{{datad.fileName}} </td>
                       <td>{{datad.ProductName}}</td>
                       <td>{{datad.PageName}}</td>
                       <td>{{datad.accordionName}}</td>
                       <td>{{datad.user}}</td>
                       <td>{{datad.date}}</td>
                       <td *ngIf="datad.mode=='direct'">Direct</td>    
                       <td *ngIf="datad.mode=='mail'">E-Mail</td>    
                       <td *ngIf="datad.recipients">{{datad.recipients}}</td>
                       
                    </ng-container>  
 
           </tr>  
       </ng-container>
        </table>
  </div>
  
  <br/>
  
  </div>


</div>

