<div class="modal-dialog" *ngIf="createuser || edituser">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{panelHeading}}</h4>
    </div>

    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="modal-body cu-lbl">
        <!--       
     <div class="col-xs-6"> 
     <label>Name</label>
      <input tooltip content="{{msgplaceholder1}}" type="text" class="form-control"  [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
      </div> -->
        <div class="container-fluid">
          <div class="row" style="    margin-bottom: 2%;">
            <div class="col-md-12">
              <div class="form-group"  style="display: contents;"> 
                <label>Username</label>
                <input class="form-control" *ngIf="createuser" name="username" required ngModel #username="ngModel" type="text" [attr.maxlength]="20">
                <select class="form-control" *ngIf="edituser" (change)="getDetails($event)" id="uname" name="editUsername" required ngModel #editUsername="ngModel">
                  <option selected value="">--Select--</option>
                  <option *ngFor="let uname of user" value="{{uname.username}}">{{uname.username}}</option>
                </select>
              </div> 
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="pswd" (blur)="pswdchk($event)" name="password" ngModel #password="ngModel"
                  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" id="cpswd" (blur)="pswdchk($event)" name="cnfpassword" ngModel #cnfpassword="ngModel"
                  required>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="firstname" ngModel #firstname="ngModel" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastname" ngModel #lastname="ngModel" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="useremail" ngModel #useremail="ngModel" required email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <!-- <span *ngIf="useremail.touched && useremail.invalid" style="color:red;">Enter valid Email</span> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Description</label>
                <textarea style="overflow: unset;resize: none;" class="form-control" name="usertext" ngModel #usertext="ngModel"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" style="    display: contents;">
                <label>Security Question</label>
                <select class="form-control" name="squest" ngModel #squest="ngModel" required>
                  <option disabled value="">--Select--</option>
                  <option *ngFor="let squest of squestlist" [attr.selected]="squest.selected?'':null" value="{{squest.question}}">{{squest.question}}</option>
                </select>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Security Answer</label>
                <input class="form-control" type="text" name="sans" ngModel #sans="ngModel" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" style="    display: contents;">
                <label>Account Status</label>
                <select class="form-control" name="validity" ngModel #validity="ngModel" required>
                  <option disabled value="">--Select--</option>
                  <option *ngFor="let validity of validitylist" [attr.selected]="validity.selected?'':null" value="{{validity.name}}">{{validity.name}}</option>
                </select>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Expiration Date</label>
                <input class="form-control" type="date" id="expdate" (blur)="dateChk($event)" name="expiredate" ngModel #expiredate="ngModel"
                  required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Select Group</label>
              <select class="form-control" *ngIf="datas?.length>0" (change)="grpSel($event)" name="grpId" ngModel #grpId="ngModel" required>
                <option disabled value="">--Select--</option>
                <ng-container *ngFor="let data of datas">
                  <option *ngIf="data.status=='Enabled'" value="{{data.id}}">{{data.title}}</option>
                </ng-container>
              </select>

              <!-- 
            <select *ngIf="datas?.length>0" (change)="grpSel($event)" #grpId>
          <option value="0">--Select--</option>
          <ng-container *ngFor="let data of datas">
            <option *ngIf="data.status=='Enabled'"  [attr.selected]="data.previlage[0].selected?'':null" [style.background-color]="data.previlage[0].selected?'aquamarine':null" value="{{data.id}}">{{data.title}}</option>
          </ng-container>
          </select> -->
            </div>
          </div>

        </div>
        <div *ngIf="enableGrpPerm">
          
          <input style=" position: absolute; margin-left: 0%;" type="checkbox" id="selAllPerm" (change)="selPerm()">
          <p style="    margin-top: 3%;">{{selunsel}}</p>
          <div style="margin-bottom: 8%;" *ngIf="formModel.skills0?.length>0">
            <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
            <p>Create Template</p>
            <angular2-multiselect [data]="createTemplate" [(ngModel)]="formModel.skills0" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
              name="skills0">
            </angular2-multiselect>
          </div>

          <div style="margin-bottom: 8%;" *ngIf="formModel.skills1?.length>0">
            <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
            <p>Review Template</p>
            <angular2-multiselect [data]="reviewTemplate" [(ngModel)]="formModel.skills1" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
              name="skills1">
            </angular2-multiselect>
          </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills2?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Basic Details (Template)</p>
          <angular2-multiselect [data]="tbasicDetails" [(ngModel)]="formModel.skills2" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills2">
          </angular2-multiselect>
        </div>

        <div  style="margin-bottom: 8%;" *ngIf="formModel.skills3?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>New Business (Template)</p>
          <angular2-multiselect [data]="tnewBusiness" [(ngModel)]="formModel.skills3" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills3">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills4?.length>0">
          <input style=" position: absolute;margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Under Writing (Template)</p>
          <angular2-multiselect [data]="tunderWritting" [(ngModel)]="formModel.skills4" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills4">
          </angular2-multiselect>
        </div>

         <div style="margin-bottom: 8%;" *ngIf="formModel.skills5?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox"  (change)="userGroupSelection()">
          <p>Product Benefits (Template)</p>
          <angular2-multiselect [data]="tprodBenefits" [(ngModel)]="formModel.skills5" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills5">
          </angular2-multiselect>
        </div> 

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills6?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Unit Link (Template)</p>
          <angular2-multiselect [data]="tunitLink" [(ngModel)]="formModel.skills6" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills6">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills7?.length>0">
          <input style=" position: absolute;margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Agency (Template)</p>
          <angular2-multiselect [data]="tagency" [(ngModel)]="formModel.skills7" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills7">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills8?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Annuity (Template)</p>
          <angular2-multiselect [data]="tannuity" [(ngModel)]="formModel.skills8" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills8">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills9?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Group (Template)</p>
          <angular2-multiselect [data]="tgroup" [(ngModel)]="formModel.skills9" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills9">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills10?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Policy Servicing (Template)</p>
          <angular2-multiselect [data]="tpolicyServicing" [(ngModel)]="formModel.skills10" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills10">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills11?.length>0">
          <input style=" position: absolute;margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Finance (Template)</p>
          <angular2-multiselect [data]="tfinance" [(ngModel)]="formModel.skills11" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills11">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills12?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Rates (Template)</p>
          <angular2-multiselect [data]="trates" [(ngModel)]="formModel.skills12" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills12">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills13?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Charges (Template)</p>
          <angular2-multiselect [data]="tcharges" [(ngModel)]="formModel.skills13" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills13">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills14?.length>0">
					 <input style=" position: absolute;margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
			     <p>Create Product</p>
          <angular2-multiselect [data]="createProduct" [(ngModel)]="formModel.skills14" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills14">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills15?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Review Product</p>
          <angular2-multiselect [data]="reviewProduct" [(ngModel)]="formModel.skills15" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills15">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills16?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Basic Details (Product)</p>
          <angular2-multiselect [data]="pbasicDetails" [(ngModel)]="formModel.skills16" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills16">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills17?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>New Business (Product)</p>
          <angular2-multiselect [data]="pnewBusiness" [(ngModel)]="formModel.skills17" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills17">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills18?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Under Writing (Product)</p>
          <angular2-multiselect [data]="punderWritting" [(ngModel)]="formModel.skills18" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills18">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills19?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox">
          <p>Product Benefits (Product)</p>
          <angular2-multiselect [data]="pprodBenefits" [(ngModel)]="formModel.skills19" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills19">
          </angular2-multiselect>
        </div> 

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills20?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Unit Link (Product)</p>
          <angular2-multiselect [data]="punitLink" [(ngModel)]="formModel.skills20" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills20">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills21?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Agency (Product)</p>
          <angular2-multiselect [data]="pagency" [(ngModel)]="formModel.skills21" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills21">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills22?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Annuity (Product)</p>
          <angular2-multiselect [data]="pannuity" [(ngModel)]="formModel.skills22" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills22">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills23?.length>0">
          <input style=" position: absolute; margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Group (Product)</p>
          <angular2-multiselect [data]="pgroup" [(ngModel)]="formModel.skills23" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills23">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills24?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Policy Servicing (Product)</p>
          <angular2-multiselect [data]="ppolicyServicing" [(ngModel)]="formModel.skills24" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills24">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills25?.length>0">
          <input style=" position: absolute; margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Finance (Product)</p>
          <angular2-multiselect [data]="pfinance" [(ngModel)]="formModel.skills25" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills25">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills26?.length>0">
          <input style=" position: absolute;margin-left: 14%;"  type="checkbox" (change)="userGroupSelection()">
          <p>Rates (Product)</p>
          <angular2-multiselect [data]="prates" [(ngModel)]="formModel.skills26" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills26">
          </angular2-multiselect>
        </div>

        <div style="margin-bottom: 8%;" *ngIf="formModel.skills27?.length>0">
          <input style=" position: absolute;margin-left: 14%;"   type="checkbox" (change)="userGroupSelection()">
          <p>Charges (Product)</p>
          <angular2-multiselect [data]="pcharges" [(ngModel)]="formModel.skills27" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills27">
          </angular2-multiselect>

        </div>
        </div>


        <!-- <div  *ngIf="grpPrevilageEnable" class="col-xs-6"  style="margin-top: 3%;"> 
  <label  class="col-md-4 control-label">Previlage</label>

  <div class="col-xs-12 chk-lbl"  *ngFor="let grpPre of grpPrevilage; let i=index;"  >
 <p style="float: left;" *ngIf="grpPre.id=='1'" id="1">{{grpPre.priname}}</p>
  <p style="float: left;" *ngIf="grpPre.id=='2'" id="2">{{grpPre.priname}}</p>
  <p style="float: left;" *ngIf="grpPre.id=='3'" id="3">{{grpPre.priname}} (Template Design)</p>
  <p style="float: left;" *ngIf="grpPre.id=='4'" id="4">{{grpPre.priname}}</p>
  <p style="float: left;" *ngIf="grpPre.id=='5'" id="5">{{grpPre.priname}}</p>
  <p style="float: left;" *ngIf="grpPre.id=='6'" id="6">{{grpPre.priname}} (Product Design)</p>
    <input style="background-color: limegreen;width: 59px;" [style.background-color]="grpPre.selected?'limegreen':null" type="button" (click)="actList($event)" value="Activities">

  </div>
  </div>

  <div *ngIf="activitiesEnable" class="col-xs-6"  style="margin-top: 5%;"> 
  <label  class="col-md-4 control-label">Activities</label>

  <div class="col-xs-12 chk-lbl"  *ngFor="let activity of activities; let i=index;"  >
  <input type="checkbox" (change)="actSelected($event)" value="{{activity.name}}" [attr.checked]="activity.selected?'':null">
  <p>{{activity.name}}</p>
  </div>
  </div> -->
        <!-- <button  *ngIf="activities?.length>0"  style="  position: absolute; margin-left: -55px;background-color: bisque;">Save Activity</button> -->

      </div>


      <div class="modal-footer">
        <button *ngIf="createuser" [disabled]="f.invalid || !groupsSelected" class="btn btn-primary">Save</button>
        <button *ngIf="edituser" [disabled]="f.invalid || !groupsSelected" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>

      </div>
    </form> 
 
  </div>
</div>


<div class="modal-dialog" *ngIf="creategroup || editgroup">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 *ngIf="creategroup" class="modal-title">Create Group</h4>
      <h4 *ngIf="editgroup" class="modal-title">Edit Group</h4>

    </div>

    <form #cg="ngForm" (ngSubmit)="createGroup(cg)">
      <div class="modal-body">
        <!--       
     <div class="col-xs-6"> 
     <label>Name</label>
      <input tooltip content="{{msgplaceholder1}}" type="text" class="form-control"  [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
      </div> -->
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-6">

              <div class="form-group" *ngIf="creategroup">
                <!-- <label *ngIf="creategroup">Group Name</label> -->
                <label>Group Name</label>
                <!-- <input class="form-control" *ngIf="creategroup" name="groupname" required ngModel #groupname="ngModel" type="text"> -->
                <input class="form-control" name="groupname" [attr.maxlength]="15" required ngModel #groupname="ngModel" type="text">
              </div>

              <div class="form-group" *ngIf="editgroup"  style="display: contents;"> 
                <!-- <label *ngIf="editgroup">Select Group Name</label> -->
                <label>Select Group Name</label>
                <!-- <select class="form-control" *ngIf="editgroup" (change)="groupList($event)" name="grpId" ngModel #grpId="ngModel" required>
                    <option disabled value="">--Select--</option>
                    <option *ngFor="let data of datas" value="{{data.id}}">{{data.title}}</option>
                  </select> -->
                <select class="form-control" (change)="groupList($event,cg)" name="grpId" ngModel #grpId="ngModel" required>
                  <option disabled value="">--Select--</option>
                  <option *ngFor="let data of datas" value="{{data.id}}">{{data.title}}</option>
                </select>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group"  style="display: contents;"> 
                <label>Account Status</label>
                <select class="form-control" id="validity" name="validity" ngModel #validity="ngModel" required>
                  <option disabled value="">--Select--</option>
                  <option *ngFor="let validity of validitylist" [attr.selected]="validity.selected?'':null" value="{{validity.name}}">{{validity.name}}</option>
                </select>
              </div>

            </div>

          </div>
        </div>



        <div *ngIf="editGrpPerm" class="container-fluid" style="margin-top: 3%;">
          <!-- <label  class="col-xs-12 control-label">Rights List</label>
      <p (click)="tempCreate()">Create Template</p>
      <p (click)="tempManage()">Manage Template</p>
          <p (click)="tempDesign()">Review Template</p>
      <p (click)="prodCreate()">Create Product</p>
      <p (click)="prodManage()">Manage Product</p>
          <p (click)="prodDesign()">Review Product</p> -->
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox">
                <label style="padding-left:0px;">
                  <input id="selInGrp" type="checkbox" style="    margin-left: 0%;" (change)="selGrpAll()"> {{grpselunsel}}
                </label>
              </div>

              <div class="form-group">
                <label>Create Template</label>
               <angular2-multiselect [data]="createTemplate" [(ngModel)]="formModel.skills0" [settings]="sSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills0">
          </angular2-multiselect>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Review Template</label>
            <angular2-multiselect [data]="reviewTemplate" [(ngModel)]="formModel.skills1" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills1">
          </angular2-multiselect>
          </div>
		  		  
		   <div class="form-group">
            <label>Basic Details (Template)</label>
            <angular2-multiselect [data]="tbasicDetails" [(ngModel)]="formModel.skills2" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills2">
          </angular2-multiselect>
          </div>
		  
		     <div class="form-group">
            <label>New Business (Template)</label>
            <angular2-multiselect [data]="tnewBusiness" [(ngModel)]="formModel.skills3" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills3">
          </angular2-multiselect>
          </div>
		  
		   <div class="form-group">
            <label>Under Writing (Template)</label>
            <angular2-multiselect [data]="tunderWritting" [(ngModel)]="formModel.skills4" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills4">
          </angular2-multiselect>
          </div>
		 <div class="form-group">
            <label>Product Benefits (Template)</label>
            <angular2-multiselect [data]="tprodBenefits" [(ngModel)]="formModel.skills5" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills5">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Unit Link (Template)</label>
             <angular2-multiselect [data]="tunitLink" [(ngModel)]="formModel.skills6" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills6">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Agency (Template)</label>
              <angular2-multiselect [data]="tagency" [(ngModel)]="formModel.skills7" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills7">
          </angular2-multiselect>
          </div>
		  <div class="form-group">
            <label>Annuity (Template)</label>
             <angular2-multiselect [data]="tannuity" [(ngModel)]="formModel.skills8" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills8">
          </angular2-multiselect>
          </div>
		  <div class="form-group">
            <label>Group (Template)</label>
             <angular2-multiselect [data]="tgroup" [(ngModel)]="formModel.skills9" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills9">
          </angular2-multiselect>
          </div>
		  <div class="form-group">
            <label>Policy Servicing (Template)</label>
              <angular2-multiselect [data]="tpolicyServicing" [(ngModel)]="formModel.skills10" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills10">
          </angular2-multiselect>
          </div>
		   <div class="form-group">
            <label>Finance (Template)</label>
            <angular2-multiselect [data]="tfinance" [(ngModel)]="formModel.skills11" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills11">
          </angular2-multiselect>
          </div>
		   <div class="form-group">
            <label>Rates (Template)</label>
            <angular2-multiselect [data]="trates" [(ngModel)]="formModel.skills12" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills12">
          </angular2-multiselect>
          </div>
		  <div class="form-group">
            <label>Charges (Template)</label>
            <angular2-multiselect [data]="tcharges" [(ngModel)]="formModel.skills13" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills13">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Create Product</label>
            <angular2-multiselect [data]="createProduct" [(ngModel)]="formModel.skills14" [settings]="sSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills14">
          </angular2-multiselect>
          </div>
		   <div class="form-group">
            <label>Review Product</label>
             <angular2-multiselect [data]="reviewProduct" [(ngModel)]="formModel.skills15" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills15">
          </angular2-multiselect>
          </div>
		   <div class="form-group">
            <label>Basic Details (Product)</label>
             <angular2-multiselect [data]="pbasicDetails" [(ngModel)]="formModel.skills16" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills16">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>New Business (Product)</label>
             <angular2-multiselect [data]="pbasicDetails" [(ngModel)]="formModel.skills17" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills16">
          </angular2-multiselect>
          </div>
		     <div class="form-group">
            <label>Under Writing (Product)</label>
             <angular2-multiselect [data]="punderWritting" [(ngModel)]="formModel.skills18" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills18">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Product Benefits (Product)</label>
             <angular2-multiselect [data]="pprodBenefits" [(ngModel)]="formModel.skills19" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills19">
          </angular2-multiselect>
          </div> 
		  <div class="form-group">
            <label>Unit Link (Product)</label>
            <angular2-multiselect [data]="punitLink" [(ngModel)]="formModel.skills20" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills20">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Agency (Product)</label>
            <angular2-multiselect [data]="pagency" [(ngModel)]="formModel.skills21" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills21">
          </angular2-multiselect>
          </div>
		   <div class="form-group">
            <label>Annuity (Product)</label>
             <angular2-multiselect [data]="pannuity" [(ngModel)]="formModel.skills22" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills22">
          </angular2-multiselect>
          </div>
		     <div class="form-group">
            <label>Group (Product)</label>
            <angular2-multiselect [data]="pgroup" [(ngModel)]="formModel.skills23" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills23">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Policy Servicing (Product)</label>
             <angular2-multiselect [data]="ppolicyServicing" [(ngModel)]="formModel.skills24" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills24">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Finance (Product)</label>
              <angular2-multiselect [data]="pfinance" [(ngModel)]="formModel.skills25" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills25">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Rates (Product)</label>
              <angular2-multiselect [data]="prates" [(ngModel)]="formModel.skills26" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills26">
          </angular2-multiselect>
          </div>
		    <div class="form-group">
            <label>Charges (Product)</label>
               <angular2-multiselect [data]="pcharges" [(ngModel)]="formModel.skills27" [settings]="mSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills27">
          </angular2-multiselect>

          </div>
        </div>


        <!-- <button  *ngIf="activities?.length>0"  style="  position: absolute; margin-left: -55px;background-color: bisque;">Save Activity</button> -->

      </div>


      <div class="modal-footer">
        <button *ngIf="creategroup" [disabled]="cg.invalid || !groupsSelected" class="btn btn-primary">Save</button>
        <button *ngIf="editgroup" [disabled]="!groupsSelected" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
      </div>
    </form>

  </div>
 
</div>

<!-- <div class="modal-dialog"  *ngIf="editgroup">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Edit Group</h4>
    </div>
  
    <form #cg="ngForm" (ngSubmit)="editGroup(cg)">
    <div class="modal-body">

    <div> 
    <div class="col-xs-6" style="margin-top: 2%;"> 
      <label>Select Group Name</label>
      <select (change)="groupList($event)" name="grpId" ngModel #grpId="ngModel" required>
    <option selected value="0">--Select--</option>
      <option  *ngFor="let data of datas"  value="{{data.id}}">{{data.title}}</option>
    </select>
    </div>

        <div class="col-xs-6"  style="margin-top: 3%;"> 
       <label>Account Status</label>
        <select name="validity" ngModel #validity="ngModel" required>
        <option disabled value="">--Select--</option>
        <option *ngFor="let validity of validitylist" [attr.selected]="validity.selected?'':null" value="{{validity.name}}">{{validity.name}}</option>
      </select>      </div>
    </div>  

  <div class="col-xs-12"  style="margin-top: 3%;"> 
  <label  class="col-md-4 control-label" style="width: 100%;
    margin-bottom: 15px;">Previlage List</label>

  <div class="col-xs-12 chk-lbl"  *ngFor="let pl of previlages; let i=index;"  >
  <p *ngIf="pl.id=='1'" id="1">{{pl.priname}}</p>
  <p *ngIf="pl.id=='2'" id="2">{{pl.priname}}</p>
  <p *ngIf="pl.id=='3'" id="3">{{pl.priname}} (Template Design)</p>
  <p *ngIf="pl.id=='4'" id="4">{{pl.priname}}</p>
  <p *ngIf="pl.id=='5'" id="5">{{pl.priname}}</p>
  <p *ngIf="pl.id=='6'" id="6">{{pl.priname}} (Product Design)</p>
  <input style="width: 50px; float: right; margin-right: 5%; background-color:red; color:#ffffff;" type="button" (click)="deletePre($event)" value="Delete">
  </div>

  </div>



</div> 
   

    <div class="modal-footer">
      <button class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
    </div>
    </form>
  
  </div>

</div> -->