<div id="content">
		<ngx-spinner
		bdColor="rgba(51,51,51,0.8)"
		size="medium"
		color="#fff"
		loadingText="Loading..."
		type="ball-scale-multiple"></ngx-spinner>
	<div class="clearfix"></div>
	<div class="container" id="page-content-wrapper">
		<form #pinfo="ngForm" novalidate>
			<div>headName</div>
			<div class="row">
				<h5  style="text-align: center; font-weight: bold; margin-top: 6%;margin-left: -9%;">{{currenttemp}}</h5>
				</div>
			<div class="row">
				<div *ngIf="!backLinkBool" class="col-md-2">
					<button style="margin-top: 12px;" type="button" *ngIf="showAddBtn" class="btn btn-success btn-md frmt-btn2" (click)="addBlock()">
						<span class="glyphicon glyphicon-plus"></span>New Block</button>
					</div>
					<h2 class="visb-headg" style="display: none;">Product Configurator</h2>

			

				<p *ngIf="backLinkBool" (click)="backLink()">
					<a class="sub-l-img">
						<img src="assets/img/back_btn.png" class="back_btn" />
						<b id="{{navId}}">{{parentName}}</b>
					</a>
				</p>
		
	

				<div class="col-md-6" style="float:right">
						<div class="col-md-6">
							  <!-- <h5 *ngIf="backLinkBool" style="text-align: center;font-weight: bold;">{{currenttemp}}</h5> -->
							</div>
					<span *ngIf="!backLinkBool">
						<page-product-comment *ngIf="templateSaved ||  productSaved"></page-product-comment>
						<button id="sValues"  *ngIf="pbdCreate || pbdModify" class="btn btn-success btn-md frmt-btn"
						 (click)="saveValues(pinfo)">SaveBBBBBBB</button>
						 <button id="sUValues"  *ngIf="(!templateSaved &&  !productSaved && pbdUpdate || productUpdated)" class="btn btn-success btn-md frmt-btn"
						 (click)="UpdateValues(pinfo)">Update</button>
					
						<button id="sFormat" *ngIf="bdCreate || bdModify" class="btn btn-success btn-md frmt-btn" (click)="saveFormat($event)">SaveAAAAA</button>
					</span>
				</div>
			
				<button *ngIf="pageMode=='1' && accName.length>0" class="btn btn-success" style="margin-top: 1%;cursor: pointer" id="retriveDelAcc" #addf (click)="retriveDelAcc()">Retrieve deleted accordion</button>
			</div>
					
			<div class="panel-group" [dragula]='"second-bag"' id="accordion">
				<div *ngFor="let data of display_data; let i =index">
					<div class="panel panel-default accordion_bar" (click)="selectIndex(i)"  *ngIf="data.accordionType=='panel-body'" [style.display]="(data.displayAcc == false) || (data.deleteAcc == false) ?'none':'block'">
						<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+data.accordId">
							<h4 class="panel-title">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{data.accordId}}">
									<input readonly class="inputlabel" [attr.maxlength]="20" (blur)="disableEditAccordion(data,$event)" style="border: #337ab7;word-wrap: break-word;"
									 value="{{data.accordionName}}" />
								</a>
								<img *ngIf="pageMode=='1'" (click)=" editpenAccodion($event)" src="./assets/img/edit_pen.png" class="ep">
								<img *ngIf="pageMode=='1'" (click)="delAccordion(data)" src="./assets/img/del.png" class="del">

							</h4>

						</div>
						<div id="{{data.accordId}}" class="panel-collapse collapse {{i==expand?'in':''}}">
							<div class="panel-body" id="{{data.blockId}}">
								<button *ngIf="showAddBtn" class="btn btn-success btn-md" id="addfd" style="margin-left: 1%;" #addf (click)="addField(data)">
									<span class="glyphicon glyphicon-plus"></span>New Item</button>
									<button *ngIf="showAddBtn && data.deletedItems.length>0" class="btn btn-success" id="retriveDel" style="margin-left: 1%;" #addf (click)="retriveDel(data)">Retrieve Deleted Item</button>
								<div [dragula]='"second-bag"'  id="ok" class="board">
									<div class="first-box" id="{{i}}@{{ti}}" style="resize:horizontal;border: 1px solid #dedede;  -webkit-transition: all 2s ease;  -moz-transition: all 2s ease; -o-transition: all 2s ease; -ms-transition: all 2s ease;  
 								 transition: all 2s ease;" [style.display]="field.display==true?'inline-block':'none'" [style.width.%]="field.fieldParentwPercentage" *ngFor="let field of data.field; let ti=index;">
										<div id="{{field.blockId}}" class="field_set" [style.width.%]="field.fieldwPercentage" style="border:none;">
											<label style="display:none;" class="mtf">{{field.mandatory}}</label>
											<ng-container *ngFor="let tp of field.toolTip">
												<ng-container *ngIf="tp.takaToolTip">
	<div tooltip="{{tp.takaToolTip}}"  placement="top" style="width: 20px; margin: 0px;">  
															<i class="fa fa-info-circle" ></i>  
															</div>												</ng-container>
											   </ng-container>
											<label *ngIf="field.mandatory" style="color:red;" class="mand">*</label>

											<label [style.display]="field.displayMessage==true?'inline':'none'" class="mandMsg">{{field.mandatoryMsg}}</label>
											<label class="inputlabel" id="{{field.id}}" style="width: auto; border: 0px;word-wrap: break-word;font-weight: normal;    margin-left: 0px !important;">{{field.fieldName}}</label>
											<img *ngIf="pageMode=='1'" (click)="editField(field)" src="./assets/img/edit_pen.png" class="ep">
											<img *ngIf="pageMode=='1' && !field.mandatory" (click)="delfield(field)" src="./assets/img/del.png" class="del">
											<button *ngIf="pageMode=='1'" id="expand" (mousedown)="incSize(field,$event)">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
											<button *ngIf="pageMode=='1'" id="expand" (mousedown)="decSize(field,$event)">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
											<div style="width: 90%;margin-left: 5px;" *ngIf="field.tagName=='select-one'" class="field_1 form-group">
												<select (change)="setVal(field,$event,'')" [attr.disabled]="field.read" [attr.tabindex]="i+1" [style.width.%]="field.fieldwPercentage"
												  [required]="pageMode=='2' && field.mandatory">
													<option value="">--Select--</option>
					
													<option *ngFor="let option of field.optionObj" value="{{option.optionValue}}" [attr.selected]="option.selected?'':null">{{option.optionLabel}}</option>
												</select>
											<div style="font-size: initial;float: right;margin-top: -30px ;   margin-right: -215px;" (click)="searchLovfield(field)">
												<i *ngIf="field.lovUrl!=undefined" class="fa fa-search" ></i>
											</div>

											</div>
											<div style="width:100%" *ngIf="field.tagName=='button'" class="field_1 form-group">

												<button class="btn btn-success blu-btn hvr-btn"  [attr.disabled]="pageMode=='2'?field.navDisable:null" (click)="nav(i,field,'','')">{{field.tagValue}}</button>
											</div>
											<div style="width:100%" *ngIf="field.tagName=='text'" class="field_1 form-group">
												<input [attr.readOnly]="field.read" [attr.maxlength]="field.maxLength" [required]="pageMode=='2' && field.mandatory"
												  (focusout)="textValid($event,data.field,field,i)" [attr.tabindex]="i+1" [style.width.%]="field.fieldwPercentage"
												 placeholder="{{field.placeHolder}}" value="{{field.tagValue}}">
											</div>	
											<div style="width:100%" *ngIf="field.tagName=='number'" class="field_1 form-group">
												<input [attr.readOnly]="field.read" type="number" [required]="pageMode=='2' && field.mandatory"
												 pattern="[0-9]*" (focusout)="textValid($event,data.field,field,i)" [attr.tabindex]="i+1" [style.width.%]="field.fieldwPercentage"
												 placeholder="{{field.placeHolder}}" value="{{field.tagValue}}" style="text-align: right;">
											</div>
											<div style="width:100%" *ngIf="field.tagName=='date'" class="field_1 form-group">
												<input [attr.readOnly]="field.read" (focusout)="textValid($event,data.field,field,i)" [required]="pageMode=='2' && field.mandatory"
												 [attr.tabindex]="i+1" [style.width.%]="field.fieldwPercentage" type="date" placeholder="{{field.placeHolder}}"
												 value="{{field.tagValue}}">	
											</div>

											<div style="width:100%" *ngIf="field.tagName=='textarea'" class="field_1 form-group">
												<textarea style="
												resize: none;
												width: 93%;
												height: 78px;" placeholder="{{field.placeHolder}}"  [attr.maxlength]="field.maxLength" (focusout)="textValid($event,data.field,field,i)" [required]="pageMode=='2' && field.mandatory" [attr.tabindex]="i+1" [style.width.%]="field.fieldwPercentage"
												 value="{{field.tagValue}}"></textarea>
											</div>

										</div>

									</div>

								</div>
							</div>
						</div>
					</div>


					<div class="panel panel-default accordion_bar" (click)="selectIndex(i)" *ngIf="data.accordionType=='panel-body tle'" [style.display]="(data.displayAcc) || (data.deleteAcc == false) ?'none':'block'">
						<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+data.accordId">
							<h4 class="panel-title">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{data.accordId}}">
									<input readonly class="inputlabel" [attr.maxlength]="20" (blur)="disableEditAccordion(data,$event)" style="border: #337ab7;" value="{{data.accordionName}}"
									/>
								</a>
								<img *ngIf="pageMode=='1'" (click)=" editpenAccodion($event)" src="./assets/img/edit_pen.png" class="ep">
								<img *ngIf="pageMode=='1'" (click)="delAccordion(data)" src="./assets/img/del.png" class="del">

							</h4> 
						</div>


						<div id="{{data.accordId}}"  class="panel-collapse collapse {{i==expand?'in':'' || i==0 && this.backLinkBool?'in':''}}">
							<div class="panel-body tle" id="{{data.blockId}}" style="overflow-x:scroll;">
								<button type="button" *ngIf="showAddBtn" class="btn btn-success" style="margin-left: 1%;" #addf (click)="addTableField(data)">
									<span class="glyphicon glyphicon-plus"></span>New Item</button>
									<button *ngIf="showAddBtn && data.deletedItems.length>0" class="btn btn-success" id="retriveTabDel" style="margin-left: 1%;" #addf (click)="retriveTabDel(data)">Retrieve Deleted Item</button>
									<button type="button" *ngIf="showRow" class="btn btn-success pull-right"  style='position: absolute; margin-left: 745px;'  (click)="genRow(data)">Add Row</button>
									<button  type="button"  *ngIf="pageMode=='2'" class="btn btn-success"  style="margin-left: 20px"  (click)="dataUpload(data)"><i class="fa fa-upload"></i> Data Upload</button>
									<button  type="button"  *ngIf="pageMode=='2'" class="btn btn-success pull-left" style="margin-left: 10px"   (click)="dataDownload(data)"><i class="fa fa-download"></i> Data download</button>
								<table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" style="display: table; border-collapse: separate; border-spacing: 2px; border-color: gray;display: table;border: none;">
									<tbody *ngFor="let tD of data.tableObj; let id=index;" id="{{id}}" style="display:flex;">
										<tr *ngFor="let tData of tD.tableRow; let c=index;" id="tableField" [dragula]='"second-bag"' class="moTable" style=" display: inline-flex; height:auto; background-color: none;">
											<div [style.display]="tData.display==true?'block':'none'" class="tc1" style="cursor: move;border: 1px solid #ddd;"
											 draggable="true" ng-reflect-draggable="true">
												<div *ngIf="id==0" id="{{tData.blockId}}" [style.display]="tData.displayMessage==true?'-webkit-box':'flex'" style="height: 47px; border-bottom: 2px solid #ddd;">
													<label style="display:none;" class="mand">{{tData.mandatory}}</label>
													<ng-container *ngFor="let tp of tData.toolTip">
														<ng-container *ngIf="tp.takaToolTip">
															<div tooltip="{{tp.takaToolTip}}"  placement="top" style="width: 20px; margin: 0px;">  
															<i class="fa fa-info-circle" ></i>  
										 					</div> 
														</ng-container>
													   </ng-container>
													<label *ngIf="tData.mandatory" style="color:red;">*</label>
												
													

													<label id="{{tData.id}}" class="inputlabel labelHead" style="width: 101%; border: 0px;word-wrap: break-word; font-weight: normal;    margin-left: 6px !important;">{{tData.theadName}}</label>
													<br *ngIf='tData.displayMessage==true'>
													<label [style.display]="tData.displayMessage==true?'inline':'none'" style="    margin-left: 6px !important;position: relative;margin-top: 20px;" class="mandMsg">{{tData.mandatoryMsg}}</label>
													<img *ngIf="pageMode=='1'" (click)=" editTableField(tData)" src="./assets/img/edit_pen.png" class="ep">
													<img *ngIf="pageMode=='1' && !tData.mandatory" (click)="delfield(tData)" src="./assets/img/del.png" class="del">
												</div>

												<div *ngIf="tData.tdObj">
													<div *ngIf="tData.tdObj[0].tagName=='text'" style="border-bottom: 1px solid #ddd;" class="td_value">
														<input  [attr.readOnly]="tData.read" type="text" [required]="pageMode=='2' && tData.mandatory"
														 pattern="[a-zA-Z][a-zA-Z ]+" [attr.maxlength]="tData.maxLength" (blur)="textTabValid($event,tD.tableRow,tData,tD,i)" [attr.tabindex]="id+1" value="{{tData.tdObj[0].tdValue}}"
														 style="width: 188px; border: 0px;">
													</div>
													<div *ngIf="tData.tdObj[0].tagName=='date'" style="border-bottom: 1px solid #ddd;" class="td_value">
														<input [attr.readOnly]="tData.read" type="date" (blur)="textTabValid($event,tD.tableRow,tData,tD,i)" 
														 [required]="pageMode=='2' && tData.mandatory" [attr.tabindex]="id+1"  value="{{tData.tdObj[0].tdValue}}" style="width: 188px; border: 0px;">
													</div>
													<div *ngIf="tData.tdObj[0].tagName=='number'" style="border-bottom: 1px solid #ddd;" class="td_value">
														<input [attr.readOnly]="tData.read" type="number" [required]="pageMode=='2' && tData.mandatory"
														 pattern="[0-9]*" (focusout)="textTabValid($event,tD.tableRow,tData,tD,i)" min="0" [attr.tabindex]="id+1" value="{{tData.tdObj[0].tdValue}}"
														 style="width: 188px; border: 0px;text-align: right;">
													</div>
												</div>
												<ng-container *ngIf="tData.tdObj">
													<div style="width:100%" *ngIf="tData.tdObj[0]?.tagName=='button'" class="td_value">

														<button class="btn btn-success blu-btn hvr-btn" [attr.disabled]="pageMode=='2'?tData.navDisable:null" (click)="nav(i,tData,id,tD)">{{tData.tdObj[0].tdValue}}</button>
													</div>
												</ng-container>
												<div *ngIf="tData.optionObj" class="td_value">
													<select (change)="setVal(tData,$event,tD)" [attr.disabled]="tData.read" [attr.tabindex]="id+1" 
													 [required]="pageMode=='2' && tData.mandatory">
														<option value="">--Select--</option>
														<option *ngFor="let option of tData.optionObj" value="{{option.optionValue}}" [attr.selected]="option.selected?'':null">{{option.optionLabel}}</option>
													</select>
													<div  style="font-size: initial;float: right;margin-top: 12px" (click)="searchLov(tData.lovUrl,data,id,tData.id)">
													<i *ngIf="tData.lovUrl!=undefined" class="fa fa-search"></i>
												</div>
												</div>

											</div>
										</tr>
										<button *ngIf="id>=1" class="btn btn-success rw-button" (click)="copyRow(data,$event)">Copy row</button>
										<button *ngIf="id<1 && pageMode=='2'" style="margin-top: 65px;" class="btn btn-success rw-button" (click)="copyRow(data,$event)">Copy row</button>
										<button *ngIf="id>=1" class="btn btn-success rw-button" (click)="delRow(data,$event)">Delete row</button>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>