.del{
    cursor:pointer;
}

.panel-heading{
    padding: 6px 11px;

}

.field_1{
        margin: 0px -3px;
}

/* .field_set:hover{
  border:2px solid green;
  border-radius: 10px;
} */

.removeBorder:hover{

}

/* .btn-info:active{
border-color: red;} */

input[type="range"] {
   position: absolute;
   top: 40%;
   transform: rotate(270deg);
}

.ep{
        width: 20px;
     margin-left: 0px; 
    padding: 2px;
}
.comment-cont{
    float:  right;
   /* margin-top: 69px;
    margin-left: 27px;*/
}
#expand{
    border: none;
    background: transparent;
    margin-top: 6px;
    padding:0px;
}

.mand{
    color: red;
    margin-left: 2px;
    margin-top: 4px;
    position: absolute;

}

.mandMsg{
       display: inline;
       font-weight: 300;
    margin-top: 14px;
    font-size: smaller;
    color: red;
    margin-left: 12px;
  
}

.alertsContainer  {
      padding-top: 160px;
    z-index: 1;
}
/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */

.hidePlanCode{
    display: none;
    width: max-content;
}

.no-drag{
    pointer-events: none;
}


/* .ngSel{
    border: 1px solid gainsboro;
    border-radius: 7px;
} */


