<div id="content" style="    margin-top: 10%;
    margin-left: 10%;">

  <div class="col">
      <a class="sub-l-img" style="margin-left: 50%;text-decoration: underline;"  routerLink="/productConfig/dataEntryCompletion" routerLinkActive="active"> 
        <img src="assets/img/back_btn.png" class="back_btn" />
        <b >Back</b>
         </a>
    <div class="row-md-6" *ngIf="totalStatistic">
    
      <h3 style="text-decoration: underline;">DATA ENTRY COMPLETION MONITOR - Product Level Overall Data Entry Completion Graph</h3>
      <div style="    display: flex;    overflow: -webkit-paged-x;margin-left: -7%;">

        <!-- <ng-container *ngIf="dataMonitor?.length>0">
          <div *ngFor="let dm of dataMonitor" style="display: table-caption;">
   <div style="display: block">
    
  </div>
   <button (click)="randomize()">Update</button>  -->
          <!-- <h4 style="position: absolute; margin-top: 3.6%;">{{dm.data.PageName}}</h4>
            <progressbar (click)="blockGraph(dm.data)" class="align" max="{{dm.data.TotalFieldCount}}" [value]="dm.data.ValidFieldCount"
              type="danger" [striped]="true" [animate]="true">
              <i style="position: absolute;font-size: medium;font-weight: bold;">{{dm.data.ValidFieldCount}} / {{dm.data.TotalFieldCount}}</i></progressbar>
            
          </div>
        </ng-container>              [legend]="barChartLegend"
-->
       
      </div>
    </div>


    <div class="row-md-12" *ngIf="blockStatistic">
      <h3 style="text-decoration: underline;display: -webkit-inline-box;">DATA ENTRY COMPLETION MONITOR - Module Level Overall Data Entry Completion Graph</h3>
      <div style="    display: flex;
    margin-top: 10%;
    overflow: -webkit-paged-x;margin-left: -9%;">

        <ng-container *ngIf="dataBlockMonitor?.length>0">
          <!-- <div class="chart-container" style="position: relative; height:56vh; width:80vw"> -->


                <canvas id="myChart"  baseChart id="chart1"
            [datasets]="barChart2Data"
            [options]="barChartOptions"
            [labels]="barChart2Labels"

            chartType="bar"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          <!-- </div> -->
        </ng-container> 
      </div>

    </div>


    <div class="row-md-4" style="margin-top: 34px;" *ngIf="totalStatistic || blockStatistic">
            <h4 style="text-decoration: underline;">Product Maintenance Log</h4>

 <table class="gnrc-table" style="    height: 300px;
    overflow: scroll;
    display: -webkit-box;">
                  <tr>
                      <th>Module</th>
                      <th>Status</th>
                      <th>Created By</th>
                      <th>Created On</th>
                      <th>Last Modified By</th> 
                      <th>Last Modified Date</th>
                      <th>Approved By</th>
                      <th>Review Log</th>
                  </tr>
                    <tr *ngFor="let pd of pageData[0]?.PageList">
                      <td>{{pd.name}}</td>
                      <td *ngIf="pd.review==true">Approved</td>
                      <td *ngIf="pd.review==false && pd.rejected==false">Under Review</td>
                      <td *ngIf="pd.review==false && pd.rejected==true">Rejected</td>
                      <td>{{pageData[0].CreatedBy}}</td>
                      <td>{{pageData[0].CreatedDate}}</td>
                      <td>{{pd.modifiedBy}}</td>
                      <td>{{pd.ModifiedDate}}</td>
                      <td>{{pd.approveBy}}</td>
                      <ng-container *ngFor="let rs of totalPageList;let i=index">
                      
                      <td *ngIf="rs.pname==pd.name && rs.count==0">No comments</td>     
                      <td *ngIf="rs.pname==pd.name && rs.count==1 && rs.count!=0">{{rs.count }} comment</td>                    
                      <td *ngIf="rs.pname==pd.name && rs.count>1 && rs.count!=0">{{rs.count }} comments</td>                    
                      
                      </ng-container>

                    </tr>
                      
              </table>
                  </div>
  </div>
</div>