.align{
    transform: rotate(0deg);
/* height: 375px; */
width: 200px;
margin-top: 17%;
    margin-top: -13%;

background-color: burlywood;
margin-left: 160%;
}

th{
border:1px solid black;
text-align: center;
}

table{
    width: 96%;
margin-left: 29px;
margin-top: 10px;
}

td{
text-align: center;
border:1px solid cadetblue;;
}


.gnrc-table th,td{padding: 10px;
border-top: 1px solid #cccccc; border-left: none; border-right: none;
border-bottom: 1px solid #cccccc;
}
.gnrc-table td{
font-size: 13px;
color: #444;

}
.gnrc-table th{
font-size: 12px;
color: #444;
font-weight: 600;
}
.gnrc-table td:nth-child(even){background:  #f9f9f9; }
/* 
.overlay {

pointer-events:none;
position: absolute;
margin-top: 23%;
margin-left: 30%;    
z-index: 1 ;
box-shadow:none;


}
.check{
    background-color:#EFEFEF;
position: absolute;
width: 100%;
height: 100%;
opacity: .4; 
filter: alpha(opacity=40); 
pointer-events: none;

}

.wsLoading{
    background-color:#EFEFEF;
position: absolute;
width: 100%;
height: 100%;
opacity: .4; 
filter: alpha(opacity=40); 
pointer-events: none;

}
html, body {
height:100%;
width:100%;
margin:0;
padding:0;
}  */
/* #myChart {
height:100%;
width:100%;
min-height:150px;
} */

canvas{

    width:1000px !important;
    height:600px !important;
  
  }