 <div class="container">
    <div class="col-sm-4 offset-col-sm-4 text-right">
      <b>Prompt example: </b>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-block buttonHover" (click)=showPrompt()>Show prompt</button>
    </div>    
  </div>
