<div class="modal-dialog" style="margin-top: 200px; width: 400px;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Deleted Items</h4>
    </div>
    <form #f="ngForm">
      <div class="modal-body">
        <div >
          <ng-container *ngIf="fieldNames.length>0">
            <label>Select items to retrieve</label>

            <angular2-multiselect style="display: grid;
            overflow-y: scroll;height:140px" required [data]="fieldNames" [(ngModel)]="selectedItems" name="fieldNameslist" ngModel #fieldNameslist="ngModel"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply()">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>