<div class="modal-dialog" style="width: 674px;"  *ngIf="!pbdModify && !productApproval">
  <div class="modal-content">
    <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          loadingText="Loading..."
          type="ball-scale-multiple">
        </ngx-spinner>
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Review</h4>
    </div>
  <div class="modal-body"  style="height: 300px;">
      <div *ngIf="templateSaved && templateApproval" class="col-sm-12" style=" text-align: center;     margin-bottom: 13px;  margin-top: 3px;"> 
       <button   type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="approval('Approved')">Approve</button>
       <button  type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="approval('Rejected')">Reject</button>
         </div>
      <textarea style="overflow: unset;resize: none;" rows="15"  *ngIf="templateSaved && templateApproval" cols="60" style=" margin-left: 27px; margin-top: 10px; margin-bottom: 15px; width: 577px; height: 89px; " id="cbox"></textarea>
     <div *ngIf="templateSaved && templateApproval" class="col-sm-12" style=" text-align: center;     margin-bottom: 13px;  margin-top: 3px;">  <button  type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="submit()">Submit</button>
     
       <button (click)="toggle()"  class="btn btn-default" id="bt">{{buttonName}}</button>
      </div>
   
    
    <ng-container *ngIf="show && templateSaved && templateApproval">
        <div style="margin: 0 auto;text-align: left;">
            <div class="pcomment"  *ngFor="let Reviews of ReviewList">
                <span style=" font-size: 13px; color: #5E6DB3;       
                font-weight: bold;" >Commented By: {{Reviews.User}} On <span style=" font-size: 12px;">{{Reviews.CommentDate | date: 'dd/MM/yyyy'}}</span></span> <br/>
               
                <p  style="font-size: 12px; border: 1px solid #e5e5e5;  padding: 9px; border-radius: 5px;">{{Reviews.Review}}</p>
              </div>
              
        </div>
    </ng-container>
    <ng-container  *ngIf="bdModify && !templateApproval" >
    <div style="margin: 0 auto;text-align: left;" id="prevcomments">
        <div class="pcomment"   *ngFor="let Reviews of ReviewList">
            <span style=" font-size: 13px; color: #5E6DB3;       
            font-weight: bold;" >Commented By: {{Reviews.User}} On <span style=" font-size: 12px;">{{Reviews.CommentDate | date: 'dd/MM/yyyy'}}</span></span> <br/>
           
            <p  style="font-size: 12px; border: 1px solid #e5e5e5;  padding: 9px; border-radius: 5px;" >{{Reviews.Review}}</p>
          </div>
          
    </div>
  </ng-container>
  </div>
    <div class="modal-footer">
     
     
    
    </div>

  
  </div>

</div>

<div class="modal-dialog" style="width: 674px;" *ngIf="pbdModify || productApproval">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Product Review</h4>
    </div>
  <div class="modal-body"  style="height: 300px;">
    <div  *ngIf="productApproval" class="col-sm-12" style=" text-align: center;     margin-bottom: 13px;  margin-top: 3px;"> 
      <button   type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="Papproval('Approved')">Approve</button>
      <button  type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="Papproval('Rejected')">Reject</button>
        </div>
     <textarea style="overflow: unset;resize: none;" rows="15"  cols="60" *ngIf="productApproval" style=" margin-left: 27px; margin-top: 10px; margin-bottom: 15px; width: 577px; height: 89px; " id="Pcbox"></textarea>
    <div *ngIf="productApproval" class="col-sm-12" style=" text-align: center;     margin-bottom: 13px;  margin-top: 3px;">  <button  type="button" class="btn btn-default" style="background:#5E6DB3; color:#fff;" (click)="Psubmit()">Submit</button>   
      <button (click)="toggleT()"  class="btn btn-default" id="bt">{{buttonName}}</button>
     </div>
     <ng-container *ngIf="show && productApproval">
      <div style="margin: 0 auto;text-align: left;">
          <div class="pcomment"  *ngFor="let Reviews of PReviewList">
              <span style=" font-size: 13px; color: #5E6DB3;       
              font-weight: bold;" >Commented By: {{Reviews.User}} On <span style=" font-size: 12px;">{{Reviews.CommentDate | date: 'dd/MM/yyyy'}}</span></span> <br/>
             
              <p  style="font-size: 12px; border: 1px solid #e5e5e5;  padding: 9px; border-radius: 5px;">{{Reviews.Review}}</p>
            </div>
            
      </div>
  </ng-container>
  <ng-container  *ngIf="pbdModify && !productApproval" >
    <div style="margin: 0 auto;text-align: left;" id="pprevcomments">
        <div class="pcomment"   *ngFor="let Reviews of PReviewList">
            <span style=" font-size: 13px; color: #5E6DB3;       
            font-weight: bold;" >Commented By: {{Reviews.User}} On <span style=" font-size: 12px;">{{Reviews.CommentDate | date: 'dd/MM/yyyy'}}</span></span> <br/>
           
            <p  style="font-size: 12px; border: 1px solid #e5e5e5;  padding: 9px; border-radius: 5px;" >{{Reviews.Review}}</p>
          </div>
          
    </div>
  </ng-container>

   </div>


  </div>
    <div class="modal-footer">
     
     
    
    </div>

  
  </div>


