<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add New Item</h4>
    </div>
    <form #f="ngForm">
    <div class="modal-body">
      <label>Mapping Field Name</label>
      <span *ngIf="fieldName.invalid && fieldName.touched" style="color:red; float:right;">Please enter Mapping field name</span>
      <input type="text" class="form-control"  [(ngModel)]="fmessage2" name="fieldName" ngModel #fieldName="ngModel" required>

     <label>{{fquestion1}}</label>
      <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please enter Item name</span>
      <input type="text" class="form-control"  [(ngModel)]="fmessage1" name="name" ngModel #name="ngModel" required>
      <label>{{fquestion2}}</label>
      <span *ngIf="!selectedIType" style="color:red; float:right;">Please select item type</span>
      <br>
      <select #selectedIType (change)="itemType(selectedIType.value)">
        <option disabled>--Select--</option>
        <option value="text">Text Box</option>
        <option value="select">Drop Down</option>
        <option value="date">Date Picker</option>
      </select>
      <br>
       <label>{{fquestion3}}</label>
      <span *ngIf="!selectedFType" style="color:red; float:right;">Please select field type</span>
      <br>
      <select #selectedFType (change)="fieldType(selectedFType.value)">
        <option disabled>--Select--</option>
        <option *ngFor="let ft of fType" value="{{ft}}">{{ft}}</option>
      </select>
      <br>
       <label>{{fquestion4}}</label>
      <span *ngIf="!selectedMType" style="color:red; float:right;">Please select masking type</span>
      <br>
      <select #selectedMType (change)="maskType(selectedMType.value)">
        <option disabled>--Select--</option>
        <option *ngFor="let mt of mType" value="{{mt.id}}">{{mt.n}}</option>
      </select>

      <table *ngIf="listOfValues" >
        <tr >
          <th style="text-align: center;">
            <label>List Code</label>
          </th>
          <th style="text-align: center;">
            <label>List Values</label>
          </th>
          <button class="btn btn-info md" type="button"  (click)="incRow($event)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-info md" type="button"  (click)="decRow($event)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </tr>
         <tr class="tValues" *ngFor="let t of tRow">
          <td>
            <input type="text" />
          </td>
          <td>
            <input type="text" />
          </td>
        </tr>
         
      </table>
    </div>
 
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply(selectedIType.value,selectedFType.value,selectedMType.value)">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  </div>
</div>