<!-- <app-sidebar style="display:none"></app-sidebar> -->

<div id="content" >
          <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          loadingText="Loading..."
          type="ball-scale-multiple">
        </ngx-spinner>
	<div class="clearfix"></div>
	<div class="container" id="page-content-wrapper">
  
            

    <div>
        <div style="margin-top: 67px;position: absolute;right: 0px; margin-right: 41px;">
                     <a *ngIf="productCreation"  style="margin-right: 10px;" class="btn btn-success" (click)="newProduct()">New Product</a>

           <a *ngIf="productCreation" style="margin-right: 10px;" class="btn btn-success" (click)="cloneProduct()">Clone Product</a>                   

        <a class="btn btn-success"  (click)="navLookup()">Lookup</a>
        </div>
			  <h2 class="visb-headg" style="margin-left:28px; margin-top: 70px;display: inline-block;">Dashboard</h2> 
              <table class="gnrc-table">
                  <tr>
                      <th>Plan Code</th>
                      <th>Product Type</th>  
                      <th>Template Id</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <!-- <th>Last Modified By</th> -->
                      <th>Last Modified Date</th>
                      <th>Waiting Approval</th>
                      <th>Approved</th>
                      <th>Rejected</th>
                      <th>Release</th>
                  </tr>
                       <tr *ngFor="let ppush of productPush  | paginate: { itemsPerPage:3 , currentPage:p }" #openp [style.backgroundColor]="ppush.selected?'bisque':null" style="cursor:pointer;">
                      <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.ProductId}}
                          <div (click)="chartPie(ppush.ProductId,ppush.Publish,ppush)">
                          <i class="fas fa-chart-pie" title="Data Completion Monitor" style="font-size: initial;float: right;" ></i>
                          </div>
                        <div  (click)="loadDataMonitor(ppush.ProductId)">
                          <i class="fas fa-download" title="Data Upload/Download Monitor" style="font-size: initial;float: right;" ></i>
                        </div>
                        </td>
                        <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.ProductType}} </td>
                      <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.TemplateId}}</td>
                      <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.CreatedBy}}</td>
                      <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.CreatedDate}}</td>
                       <td (click)="openProduct(ppush.ProductId,ppush.ProductName,ppush.TemplateId,ppush.Publish,openp,ppush)">{{ppush.ModifiedDate}}</td>
                
                      <td><select *ngIf="ppush.PageList?.length>0" style="width: 110px;">
                        <option value="0" selected disabled>--Select--</option>  
                        <ng-container *ngFor="let wa of ppush.PageList">
                              <option  *ngIf="!wa.review && !wa.rejected" value="{{wa.name}}">{{wa.name}}</option>   
                          </ng-container>
                       </select></td>
                      <td><select *ngIf="ppush.PageList?.length>0" style="width: 110px;">
                        <option value="0" selected disabled>--Select--</option>  
                        <ng-container *ngFor="let wa of ppush.PageList">
                              <option  *ngIf="wa.review" value="{{wa.name}}">{{wa.name}}</option>   
                          </ng-container>
                       </select></td>
                       <td><select *ngIf="ppush.PageList?.length>0" style="width: 110px;">
                        <option value="0" selected disabled>--Select--</option>  
                        <ng-container *ngFor="let wa of ppush.PageList">
                              <option  *ngIf="wa.rejected" value="{{wa.name}}">{{wa.name}}</option>   
                          </ng-container>
                       </select></td>
                      <td>
                          <!-- <button *ngIf="ppush.Publish && ppush.Updated" id="published" style="background-color:forestgreen !important;border-color:forestgreen !important;" >Release</button> -->
                          <button *ngIf="ppush.Publish && !ppush.Updated " id="published" style="background-color:forestgreen !important;border-color:forestgreen !important;" disabled>Release</button>

                          <button *ngIf="ppush.Publish && ppush.Updated " id="publishedupdate" style="background-color: #999999 !important;border-color: cadetblue !important;"  (click)="release($event,ppush.ProductId,'update')">Update</button>
                          
                        
                        <button *ngIf="!ppush.Publish && ppush.review" id="notpublished" style="background-color: #999999 !important;border-color: #999999 !important;"  (click)="release($event,ppush.ProductId,'save')">Release</button>

                          <button  *ngIf="productApproval" style="background-color: #999999 !important;border-color: cadetblue !important;"  (click)="review(ppush)">Review</button>
                          <button *ngIf="productDeletion && !ppush.Publish" style="background-color: #999999 !important;border-color: cadetblue !important;"  (click)="delete($event,ppush,ppush.Publish)">Delete</button>
                      </td>
 
                  </tr>  
              </table>
    </div>
<br/>
            <!-- <div>
              <table class="gnrc-table">
                  <tr>
                      <th>Master Id</th>
                      <th>Master Name</th>
                      <th>Data Entry Modal</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Last Modified Date</th>
                  </tr>
                  <tr *ngFor="let mpush of masterPush">
                      <td  (click)="openMaster(mpush.MasterId)" style="text-decoration: underline; text-decoration-color: darkred; cursor:pointer;">{{mpush.MasterId}}</td>
                      <td>{{mpush.MasterName}}</td>
                      <td>{{mpush.dataEntryModal}}</td>
                      <td>{{mpush.CreatedBy}}</td>
                      <td>{{mpush.CreatedDate}}</td>
                      <td></td>
                  </tr>
              </table>
       </div> -->
            <!--<a style="float: right; margin: 4em 1em 1em 0;" class="btn btn-success" (click)="newMaster()">New Master</a>-->

  </div>
      
 <div *ngIf="!loaded" style="width: 78%; margin-left: 37px; position: absolute; bottom: 0;">
       <p>Loading {{loadingWebService}}</p>
  <progressbar  [value]="progressBar" [max]="100"></progressbar>
</div>

<pagination-controls style=" position: absolute;
    left: 45%;
    bottom: 7%;"
           (pageChange)="p = $event"></pagination-controls>
</div>
<div class="modal col-lg fade" id="modalLookUp" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-ku" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" style="text-align: center;font-weight: bold;">Monitoring Data entry percentage by Function, Plan
                  </h5>
              
                <button style="    margin-top: -55px;  font-size: -webkit-xxx-large;    margin-right: 12px;position: absolute;
  right: 6px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row" style="margin-left: 15%;">
                <div class="col-sm-4">
                    <h5 > Plan Name:  </h5>
                    <h5 style="color:red;">{{planName}}</h5>
                </div>
                <div class="col-sm-4">
                  <h5>Plan Code:  </h5>
                  <h5 style="color:red;">{{productId}}</h5>
              </div>
              <div class="col-sm-4">
                <h5 >Completed Percentage</h5> 
                <h5 style="color: red;margin-left: 20%;">{{CompletionPerc}}%</h5> 
              </div>
            </div>
            <div class="modal-body" style="overflow-y: unset;    background-color: lightgray;">


<div *ngIf="pieChart">
<div style="display: block">
<canvas baseChart 
     height="400px" width="900px"

        [data]="pieChartData"
       [options]="options"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>

          
</div>
</div>

                    <span id="Show" style="    float: right;
  position: absolute;
  top: 46%;
  right: 0;
  margin-right: 48px;" class="btn btn-primary" data-toggle="modal" data-target="#dataEnterMode" (click)="showDataDetails()">Show Details</span>

            </div>
            <!-- <div class="modal-footer">
                 
                  
                
                
            </div> -->
        </div>
    
    </div>
    
</div>


      
<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBar">
    70%
  </div>
</div> -->