
.ep{
    width: 20px;
    padding:2px;
}

.div_field{
    display: inline-block;
    margin: 3% 4%;
    text-align: left;
    cursor: move;
    resize:horizontal; 
    overflow:hidden;
    border:2px solid black; 
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease; 
    -o-transition: all 2s ease; 
    -ms-transition: all 2s ease;
     transition: all 2s ease;
}