<div id="content">
	<div class="clearfix"></div>
	<div class="container" id="page-content-wrapper">
		<div>
			  <h2 style="margin-left: 28px;
    margin-top: 70px;
    display: inline-block;">Create Master</h2>	
			
			<button id="sFormat" class="btn btn-success btn-md" style="    margin-left: 44%;
    margin-bottom: 1%;" (click)="saveFormat()">Saves Format</button>
		</div>
		
		<div class="panel-group" id="accordion">
			<div>
				<!--<div class="panel panel-default" *ngIf="showForm">
					<div class="panel-heading">
						<h4 class="panel-title">
							
								{{masterName[0].MasterName}}
						</h4>
						
					</div>
					<div class="panel-default">
						<div class="panel-body" >
							<button *ngIf="showAddBtn" class="btn btn-success btn-md"  id="addfd" style="margin-left: 1%;"   #addf (click)="addField(addf)"><span class="glyphicon glyphicon-plus"></span></button>	
							<button *ngIf="showRow" class="btn btn-success btn-md" style="margin-left: 1%;"   #records (click)="addRecord(records)">New Record</button>

							<div  id="ok" class="board">
								<div [dragula]='"second-bag"' dnd-droppable dnd-draggable [dragEnabled]="true" style="display: initial; width: 130px;" *ngFor="let field of display_data">
									<div class="div_field" [style.width.%]="ct.field_parentwpercentage" *ngFor="let ct of field.fieldContent" >
								  	 <div class="field_set"   style="width: 100%;margin: 4px 6px;">

										<input type="text" readonly value="{{ct.item_name}}" style="width: 70px; border: 0px;" (mouseleave)="disableEdit($event)">
										<img (click)="editpen($event)" src="./assets/img/edit_pen.png" class="ep">
										<img (click)="delfield($event)" src="./assets/img/del.png" class="del">
										<button id="expand"  (mousedown)="incSize($event)" >
											<span class="glyphicon glyphicon-chevron-right fa-lg"></span>
										</button>
										<button id="expand"  (mousedown)="decSize($event)" >
											<span class="glyphicon glyphicon-chevron-left fa-lg"></span>
										</button>
										<div style="width:100%; margin: 8px 9px;" *ngIf="ct.item_type=='select'" class="field_1 form-group">
											<select >
												<option>--Select--</option>
												<option *ngFor="let option of ct.optionObj" value="{{option.optionValue}}">{{option.optionLabel}}</option>
										    </select>
										</div>
										<div style="width:100%; margin: 8px 9px;" *ngIf="ct.item_type=='text'" class="field_1 form-group">
											<input style="width:85%"  type="text">
										</div>
										<div style="width:100%;margin: 8px 9px;" *ngIf="ct.item_type=='number'" class="field_1 form-group">
											<input style="width:85%"  type="number" >
										</div>
										<div style="width:100%; margin: 8px 9px;" *ngIf="ct.item_type=='date'" class="field_1 form-group">
											<input style="width:85%"  type="date" >
										</div>
									</div>
									</div>
									
								</div>

							</div>
						</div>
					</div>
				</div>-->


				<div class="panel panel-default" *ngIf="showTable">
					<div class="panel-heading">
						<h4 class="panel-title">
							{{masterName[0].MasterName}}
						</h4>
					</div>


					<div class="panel-default">
						<div class="panel-body tle"  style="overflow-x:scroll;">
							<button id="addfdTle" *ngIf="showAddBtn" class="btn btn-success btn-md" style="margin-left: 1%;" #addft (click)="addField(addft)"><span class="glyphicon glyphicon-plus"></span></button>		
                   			<button *ngIf="showRow" class="btn btn-success btn-md" style="margin-left: 1%;"   #nRecords (click)="addNewRecord(nRecords)">New Record</button>
							<table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" style="display: table; border-collapse: separate; border-spacing: 2px; border-color: gray;display: table;border: none;">
								<tbody class="disp" *ngFor="let tData of display_data" style="display: inline-flex;">
									<tr *ngFor="let content of tData.fieldContent" [dragula]='"second-bag"'  class="moTable"
									 style=" display: inline-flex; height:100px; background-color: none;">
										<div  class="tc1" style="cursor: move;border: 1px solid #ddd;display: table;" draggable="true" ng-reflect-draggable="true">
											<div style="border-bottom: 2px solid #ddd;">
												<input  type="text" class="labelHead" readonly value="{{content.item_name}}" style="width: 101px; border: 0px; font-weight: bold;"
												 (mouseleave)="disableEdit($event)">
												<img (click)=" editpen($event)" src="./assets/img/edit_pen.png" class="ep">
												<img (click)="deltablefield($event)" src="./assets/img/del.png" class="del">
											</div>

											<div>
												<div *ngIf="content.item_type=='text'" style="border-bottom: 1px solid #ddd;" class="td_value">
													<input type="text" value="{{content.item_value}}" style="width: 188px; border: 0px;">
												</div>
												<div style="border-bottom: 1px solid #ddd;" *ngIf="content.item_type=='number'" class="td_value">
													<input type="number" style="width: 188px; border: 0px;" >
												</div>
												<div *ngIf="content.item_type=='date'" style="border-bottom: 1px solid #ddd;" class="td_value">
													<input type="date" style="width: 188px; border: 0px;">
												</div>
											
											<div *ngIf="content.item_type=='select-one'" class="td_value">
												<select>
											    <option>--Select--</option>
												<option *ngFor="let option of content.optionObj" value="{{option.optionValue}}">{{option.optionLabel}}</option>	
												
											</select>
											</div>
											</div>
											
										</div>
									</tr>
								<img id="editValue" style="display: none;" (click)="editValues($event)" style="display: none; height: 24px;" src="./assets/img/edit_pen.png" class="ep">
								<button id="sValues" style="display: none;" class="btn btn-success btn-md" (click)="saveValues($event)">Save Values</button>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>