<div class="modal-dialog" *ngIf="!dboardCall && !ReviewList && !PReviewList">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Add New Block</h4>
    </div>
    <form #f="ngForm">
    <div class="modal-body">
      
     <label>{{question1}}</label>
      <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please enter block name</span>
      <input [attr.maxlength]="20" type="text" class="form-control"  [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
      <label>{{question2}}</label>
      <span *ngIf="!selectPT" style="color:red; float:right;">Please select block type</span>
      <br>
      <select #selectedPanel (change)="panelType(selectedPanel.value)">
        <option disabled>--Select--</option>
        <option value="panel-body">Panel Block</option>
        <option value="panel-body tle">Panel Table</option>
      </select>
      <!-- <input tooltip content="{{msgplaceholder2}}" type="text" class="form-control"  [(ngModel)]="message2" name="name">   -->
      
    </div>
 
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="apply(selectedPanel.value)">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  
  </div>  
</div>


<div class="modal-dialog" *ngIf="dboardCall">
   <div class="modal-content" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Template Creation</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="validation(f)">
    <div class="modal-body">
      
     <label>{{question3}}</label>
     <span *ngIf="name.invalid && name.touched" style="color:red; float:right;">Please type template name</span>
      <input  (keypress)="omit_special_char($event)"  type="text" class="form-control" [attr.maxlength]="12" [(ngModel)]="message1" name="name" ngModel #name="ngModel" required>
     
     
      
      <div class=" row" >
        <div class="col-md-6">
           <label>{{question4}}</label>
      <select name="productType" ngModel #productType="ngModel" required >
        <option disabled value="">--Select--</option>
        <option *ngFor="let pt of pType" value="{{pt}}">{{pt}}</option>
      </select>
        </div>

        <div class="col-md-6">
      <a (click)="enableProductAdd()">Add New Product Type</a>
      <input *ngIf="enableProdAdd" [attr.maxlength]="20" style="margin: 4px 0px 4px 0px;" type="text" #newProduct class="form-control" (keyup)="validProduct($event)">
      <button *ngIf="enableProdAdd" class="btn btn-primary btn-sm" [disabled]="!validProd" style="margin-left: 31%;margin-top: 1px;" type="button" (click)="addProdType(newProduct)">Save</button>
        </div>
          <span *ngIf="productType.invalid && productType.touched" style="color:red; float:right;">Select Product Type</span>

      </div>
      <!-- <label>Select Theme</label>
      <br>
      <select (change)="changeTheme($event)">
          <option disabled>--Select--</option>
          <option *ngFor="let th of themes" value="{{th.colors}}">{{th.colors}}</option>

      </select> -->

      <!-- <span *ngIf="!pTypeSelect" style="color:red;">Select Product Type</span> -->

      <div *ngIf="templateCopy">
      <label>{{question5}}</label>
       
      <br>
      <button  class="btn btn-primary" [disabled]="!f.valid" (click)="copyExistingTemplate(name.value,productType.value)">Copy Template</button>

      <!-- <select #copyTemplate id="copyTemplate" (change)="selectedFolder(copyTemplate.value)">
        <option disabled value="--Select--">--Select--</option>
        <option *ngFor="let te of template" value="{{te.FolderName}}">{{te.FolderName}}</option>
      </select> -->
      <!-- <input tooltip content="{{msgplaceholder2}}" type="text" class="form-control"  [(ngModel)]="message2" name="name">   -->

       <!-- <a (click)="copyETemplate()" *ngIf="dboardCall">Copy Options</a>  -->
     
     
      <!-- <ng-container *ngIf="pageNames?.length>0"> 
      <input type="button" *ngFor="let pn of pageNames" (click)="copyETemplate(pn.name)" value="{{pn.name}}">
      </ng-container> -->
      </div> 
    </div>
        
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="applydBoard(name.value,productType.value)">Create Template</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
    </form>
  
  </div>
</div>


<!-- <div class="modal-dialog" *ngIf="existingTemplate">
   <div class="modal-content" style="position: absolute; margin-left: 92%;width: 42%;" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Copy Options</h4>
    </div>
    <div style="display: grid;" *ngFor="let te of template" class="sCheckBox">
     
       <label *ngFor="let fname of te.PageName">{{fname.PageName}}         
      <input (change)="tCopyPages($event)" type="checkbox" #cbox style="float: left; width: 42px;   height: 17px;">
        </label>  
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-primary" (click)="copyBoard($event)">OK</button>
      <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
    </div>

  
  </div>

</div> -->

<div class="modal-dialog" *ngIf="existingTemplate">
   <div class="modal-content" style="position: absolute; margin-left: 0%;width: 100%;" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Copy Options</h4>
    </div>

    <div class="modal-body" style="height: 150px; overflow-y: scroll;padding: 20px;">
     <ng-container *ngIf="pageNames?.length>0"> 

      <!-- <select #pageName  (change)="copy(pageName.value)" >
        <option disabled>--Select--</option>
        <option *ngFor="let pn of pageNames" value="{{pn.name}}">{{pn.name}}</option>
      </select> -->
      <div>
        <input type="text" id="search" name="search" style="margin-left: 2%;margin-top: 1%;">
      <button type="button" style="margin-left: 20px;" (click)="searchTemplate(pageNames)" class="btn btn-primary">
                                            <i class="fas fa-search"></i>Search Product</button>
    </div>

    <table>
      <tr>

        <th>
          <h3>Product Id</h3>
        </th>
        <th>
          <h2>Product Name</h2>
        </th>
      </tr>
      <tr *ngFor="let pn of pageNames;let j=index; " id="rowInterface{{j}}">

        <td style="display: -webkit-box;">
          <input class="form-control productSelected" style="width: 20px;margin-right: 20px;" type="checkbox" (change)="selectPlanCode()">
          <h5 id="{{pn.name}}">{{ pn.name }}</h5>
        </td>
        <td>sdfdf</td>
      </tr>

    </table>
      </ng-container> 

        <!-- <div *ngIf="pageSelected">
         <angular2-multiselect [data]="copyOldTemplate" [(ngModel)]="formModel.skills0" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills0s">
          </angular2-multiselect>
        </div> -->

        <input type="button" value="Copy" *ngIf="cpage" (click)="copyPage()">
       </div>
        <div class="modal-footer">
      <button  type="button" class="btn btn-primary" (click)="copyBoard()">OK</button>
      <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
    </div>
    
      <!-- <div *ngIf="testing?.length>0" >
        <ng-container *ngFor="let test of testing;let i=index;">
        <angular2-multiselect [data]="test" [(ngModel)]="formModel.skills[i]" [settings]="grpSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="skills3">
          </angular2-multiselect>
        </ng-container>
      </div> -->

    <!-- <div style="display: grid;" *ngFor="let te of template" class="sCheckBox">
     
       <label *ngFor="let fname of te.PageName">{{fname.PageName}}         
      <input (change)="tCopyPages($event)" type="checkbox" #cbox style="float: left; width: 42px;   height: 17px;">
        </label>  
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-primary" (click)="copyBoard($event)">OK</button>
      <button type="button" class="btn btn-default" (click)="closeno()">Cancel</button>
    </div> -->

  
  </div>

</div>

<div class="modal-dialog" *ngIf="ReviewList && !dboardCall && !PReviewList">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">&times;</button>
        <h4 class="modal-title">Template Review</h4>
      </div>
      <form #f="ngForm" (ngSubmit)="validation(f)">
      <div class="modal-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Page</th>
                      <th>Status</th>
                      <th>ApprovedBy</th>
                  </tr>
              </thead>

              <tbody >
                      <tr  *ngFor="let PageReview of TemplatePageReview">
                              <td>{{PageReview.PageName}}</td>	
                              <td>{{PageReview.PageReview}}</td>	
                              <td>{{PageReview.ApprovedBy}}</td>

                         </tr>

              </tbody>
          </table>
      </div>
   
      <div class="modal-footer">
        <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="close()">OK</button>
       
      </div>
      </form>
    
    </div>  
  </div>


<div class="modal-dialog" *ngIf="PReviewList && !dboardCall && !ReviewList">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Product Review</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="validation(f)">
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Status</th>
                    <th>ApprovedBy</th> 
                   
                </tr>
            </thead>



            <tbody id="tidasdasd">
                <tr  *ngFor="let PageReview of TemplatePReview">
              <td>{{PageReview.ProductName}}</td>	
              <td>{{PageReview.ProductReview}}</td>
              <td>{{PageReview.ApprovedBy}}</td>
              
            </tr>
            </tbody>
           
        </table>
    </div>
 
    <div class="modal-footer">
      <button [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="close()">OK</button>
     
    </div>
    </form>
  
  </div>  
</div>