

        <div  style="float:  right;">
                        <button class="btn btn-success btn-md frmt-btn" style="float:right" (click)="review($event)">Review</button>
                <!-- <button class="btn btn-success btn-md frmt-btn" (click)="review($event)" *ngIf="bdCreate || bdModify">View Previous Reviews</button> -->
        </div>

