html{
/*background: url(../img/bg.gif) center center fixed; */
  
}
body{background-color:#f5f5f5 !important;}
.h2, h2{font-size: 26px;}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 3em !important;
    height: 2em;
    line-height: 3em !important;
    vertical-align: middle;
}

#menu_content1, #menu_content2, #menu_content3, #menu_content4, #menu_content5 

.sidebar-nav li {
    text-indent: 0px;
    line-height: 50px !important;
	border-bottom: 1px solid;
}
.nav-stacked>li+li {
   /* margin: 2px !important;
     margin-left: 0; */
}
.navbar-default {
    background-color: #262626;
    border-bottom: 3px solid #fff;
	border-left:#262626;
	border-right:#262626;
	border-top: #262626;
	border-radius:none;
}

#sidebar-wrapper {
   
   /*background:#30373e !important;*/ 
   background:#ffffff !important;
	font-weight:bold;
	position:fixed;
    /*top:50px;*/
    top:66px;
    
    
}

input {
    border-radius: 5px;
	width:182px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 6px 5px;
    font-size:12px !important;

}

select {
    border-radius: 5px;
	width:182px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 6px;
	font-size:13px !important;
	color:#666666 !important;
	cursor:pointer;
}

div.datetimepicker_input {
    width: 182px !important;
    float: right !important;
    font-size: 12px !important;
    margin-top: -28px !important;
    margin-right: -16px !important;
	margin-bottom: 0px !important;
}

textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
	height:45px;
    padding: 6px;
    /*color: blue;*/
}
.board{width:99%; margin-left:auto; margin-right:auto; padding:2px; border-radius:10px;}
.board div{display: inline-block; margin: 0.8% 5%;  width: 220px; text-align: left; cursor: move;}
.label{color:#000 !important; font-size:12px !important; font-weight:normal; line-height:28px !important;}
.field_1{float:left;}
.field_1 > input, select { margin-left:5px !important;}
.clear{clear:both;}

#accordion{width:95%; margin-left:auto; margin-right:auto; margin-top: 0;}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #444444;         /* adjust as needed */
    margin: 8px 0 0 0;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.accordion_bar{cursor:pointer;}
.accordion-toggle{font-size:13px; font-weight:bold;}

.navbar-default {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));
    background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: linear-gradient(154deg,#008fe2 0,#00b29c 100%);
    background-color: rgba(0, 0, 0, 0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
	color:#fff !important;
    border-color: none !important;

    box-shadow: 0 0 4px #999;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: none !important;
}
.panel-default>.panel-heading {

    background-color: #eff4f6;
    border-bottom: 1px solid #bfc8cd;
	color:#444444 !important;
    border-radius:0px !important;
    position: relative;
}

.ui-button-text-only .ui-button-text {
    padding: 0px;
}

.tableBig table{
    table-layout: auto;		
}

/*6-nov-css-start*/
.logout-btn{ background: #ffffff url(../img/log-out-bl.png) 7px 7px no-repeat;
     box-shadow: 0 0 4px #666; -moz-box-shadow: 0 0 4px #666; -webkit-box-shadow: 0 0 4px #666;
 -ms-box-shadow: 0 0 4px #666;  color: #333333;
    font-size: 14px;
    border: none;
    padding:0.4em 0.7em 0.4em 2em;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px;
    position: relative;
    top: 2px; margin: 1em 0 0 1em; 
}
.logout-btn:hover{box-shadow: 0 0 12px #666; -moz-box-shadow: 0 0 12px #666; -webkit-box-shadow: 0 0 12px #666;
    -ms-box-shadow: 0 0 12px #666;}
.logout-btn img {    margin: 0 !important;}
.control-selec {  position: absolute;  top: 12px;  left: 176px;}
.navbar-default .navbar-toggle { border-color: none !important;}
/* .accordion-toggle input{background-color: transparent !important;} */
/* #ok{text-align: center;} */
/*.first-box:first-child {  width: 84% !important; }*/
.first-box {   /*margin: 0.6em 1em 0 0 !important;  padding: 0.5em;*/ padding:3px;  position: relative;  
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px;}
.first-box .field_set {  padding: 0 !important;  margin: 0;  width: -webkit-fill-available;}
.field_set .inputlabel {  margin: 4px -14px 0 0 !important; padding: 5px 1px;   width: 65% !important; text-overflow: ellipsis;}

.frmt-btn {
    margin: 1em 3em 0 0;
 margin-bottom: 10px;
 float: right;
}.frmt-btn2{ margin: 5em 0 0 2em;  float: left;}
/*.first-box:hover .hvr-btn{
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-55%,0); -moz-transform: translate(-55%,0); -webkit-transform: translate(-55%,0);
    -ms-transform: translate(-55%,0);
    box-shadow: 0 0 12px #999999;  -moz-box-shadow: 0 0 12px #999999; -webkit-box-shadow: 0 0 12px #999999;
    -ms-box-shadow: 0 0 12px #999999;
}
.hvr-btn{display: none;}*/

.hvr-btn{margin: 0.2em 0 0 1em;}
.icon-tt {
    position: absolute;
    top: 7px;
    right: 5px;
}
.icon-tt img {
    width: 25px;
}
.top-heading{margin-left: 28px; margin-top: 70px; display: inline-block; visibility: hidden;}
.visb-headg{visibility: hidden}
.sub-l-img{position: relative;  top: -12px;  margin: 0 3em 0 0;}
.blu-btn{background-color: #54b9f3;  border-color: #359cd7; padding: 4px 9px;}
.blu-btn:hover{background-color: #359cd7; }
.moTable{ margin: 0.5em 0 0 0;}
.gnrc-table tr:nth-child(even){background: #ececec;}
.gnrc-table td { background: none !important; }
.gnrc-table td button{ background-color: #03a9f4 !important; 
color: #ffffff;
border-color: #03a4ed !important;
padding: 0.4em 0.8em;
border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px;
border: none;
}
/* .alertsContainer{
position: absolute;
    top: 2%;
    left: 40%;
    z-index: 9999;
} */

.glyphicon.glyphicon-plus { font-size: 10px;}
.glyphicon.glyphicon-minus { font-size: 10px;}
.logo img { width: 50%; margin: 0 0 0 2em;}

.navbar-brand{margin: 1.3em 0 0 0; height: auto !important;  padding: 0 !important;
     color:#ffffff !important; font-size:16px; font-weight:bold;}
     .navbar-brand:hover{color:#ffffff !important;}
.btn-success{ background-color: #00bca4 !important;  border-color: #00bca4 !important;
    border: 1px solid #03a691 !important;  color: #ffffff; }
.btn-success:hover{background: #00a5b6 !important;}

.table .labelHead {  min-width: 170px !important; }
.table{margin-top:0.5em;}
.accordion-toggle .inputlabel {  width: 40%;}
.field_1 .btn { margin: 0 0 0 1em; }

.navbar-toggle {background: url(../img/menu_icon-white.png); height: 30px;  width: 30px; margin: 1em 1.5em 0 0.8em;}
.user-icon{background: url(../img/user-white.png) no-repeat; height: 30px; padding: 0 0 0 3em;
    line-height: 29px; color: #ffffff; font-weight: 600; float: left;  margin: 1.3em 0 0 0;}
.navbar-header{background: #ffffff;}
.admin-options{position: fixed;  top: 40%;   z-index: 1;}
.admin-options .on{position: fixed;
    top: 165px;
    right: -27px;
    z-index: 1;}
.admin-options .theme-switcher{cursor:pointer;padding:1em 1.7em; background:#242424; border-radius:5px; -webkit-border-radius:5px;
-ms-border-radius:5px; -moz-border-radius:5px; float: left; margin: 1.2em 0 0 0;}
.admin-options .theme-switcher i{color: #ffffff; font-size: 20px; top: 4px;}
.admin-options .theme-switcher-wrapper {
    background: #ffffff;
    float: left;
    box-shadow: 0 0 8px #bababa; -moz-box-shadow: 0 0 8px #bababa; -webkit-box-shadow: 0 0 8px #bababa;
    -ms-box-shadow: 0 0 8px #bababa;
    padding: 1.2em 1.5em;
}
.admin-options .theme-switcher-wrapper h2{color: #333333; font-size: 16px; padding: 0 0 0.53em 0; 
    border-bottom:1px solid #ededed; margin: 0 0 0.5em 0;}
.admin-options .theme-switcher-wrapper ul{margin: 0; padding: 0;}
.admin-options .theme-switcher-wrapper ul li{float: left; list-style: none;}
.admin-options .theme-switcher-wrapper ul li a{margin: 5px 10px;
    padding: 10px;  float: left;  color: #333333;  background: #333333;  border-radius: 50%;}
    .admin-options .theme-switcher-wrapper ul li a:hover{box-shadow: 0 0 6px #999999; -moz-box-shadow: 0 0 6px #999999; -webkit-box-shadow: 0 0 6px #999999;
        -ms-box-shadow: 0 0 6px #999999; }
.admin-options .theme-switcher-wrapper ul li:nth-child(1) a{background: #f1efef;}
.admin-options .theme-switcher-wrapper ul li:nth-child(2) a{background: #2d2d2d;}
.admin-options .theme-switcher-wrapper ul li:nth-child(3) a{background: #5e6db3;}
.admin-options .theme-switcher-wrapper ul li:nth-child(4) a{background: #23b7e5;}
.admin-options .theme-switcher-wrapper ul li:nth-child(5) a{background: #00aca9;}
.admin-options .theme-switcher-wrapper ul li:nth-child(6) a{background: #e67e22;}
.modal-dialog h4 {  text-align: center;}
.sm-marg-top{margin:0.5em 0 0 0;}
/*6-nov-css-end*/

@media (min-width: 768px){
.navbar {
    border-radius: 0px !important;
}}

.field_set{margin-bottom:10px !important;}


.date_set{margin-top:1px !important;}

.field_set:hover{/*border: 1px solid limegreen;*/ border-radius:4px;}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding:7px 10px !important;
    margin-top: 9px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.input-group .form-control {
    position: relative;
    z-index: 1 !important;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    /* display: block; */
    /* width: 100%; */
    height: 30px !important;
    /* padding: 6px 12px !important; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.history_area{margin-top:50px;}
.hs1{background:#9e9e9e; cursor:pointer; text-align:center; border:1px solid #bdbdbd; font-size:11px; padding:5px; margin:5px; border-radius:20px; color:#fff; min-width:80px; float:left; margin-top:0px;}
.hs1:hover{background:rgba(0,0,0,0.5);}
.hs1 a{color:#fff;}
.hs1 a:hover{color:#fff;}
.hs1 img{margin-left:5px;}
.hs-he{font-size:13px; font-weight:bold; margin-left:20px; float:left; margin-top:3px;}

.user_img img{margin:10px;}
.navbar-brand img{margin-top:-6px;}
a{border:0px !important;}

.profile_img{border-radius:100%; width:150px; height:150px; border:2px solid #333;}
.edit_img{margin:0px 10px;}
.prof_img {margin:0px auto;}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: fixed !important;
    width: 100%;
    z-index: 9999;
}
#myModal{z-index:999999;}

.modal-content{ /*background-image:url(../img/modal_bg.jpg);*/}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top:none !important;
}
.history_pop{width:280px; right:70px; border:1px solid #ccc; box-shadow:2px 3px 4px #989898; position:absolute; background:#f5f5f5; z-index:999999; top:55px; padding:5px 15px; min-height:300px;}
.history_pop .panel-title {font-size:13px; font-weight:normal !important;}
.history_pop .panel-body {font-size:12px;}
.history_pop .panel-default>.panel-heading {background:#333 !important;}
.arrow_up{position:absolute; top:-12px; right:16px;}
.cls_btn{margin-top:10px;}
.trans_links li {list-style-type: circle !important; margin:5px 0px !important;}

#notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;   
}

* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
footer{display:none;}
.history_area{display:none;}

.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; float:left; margin:15px;}

.de_i{ background-color:#fff; padding: 26px 13px; border-radius:100%; margin: 35px;}
  .de_i:hover{ background-color:#fc0;}
.de_i_active{ background-color:#fc0; padding: 26px 13px; border-radius:100%; margin: 35px;}


.sub_inset_menu p {
   margin: 18px 0px 10px;
   color:#fff;
   text-align:center;
   font-size: 13px;
   font-weight: bold;
}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* ---Smartphones ----------- */
@media screen and (min-width: 320px) and (max-width: 480px){
/* Styles */

.sub_inset_menu_mobile{display:block;}
.sub_inset_menu_mobile {margin-left: -56px; margin-top: -45px;}
.sub_inset_menu_mobile ul{width:100%;}
.sub_inset_menu_mobile img{text-align:center;}
.sub_inset_menu_mobile ul li {list-style-type:none; float:left; margin-top:10px;}
.sub_inset_menu_mobile ul li a{ width:61px; background-color:#fff; height:73px; padding:15px; border-left:1px solid; float:left;}
.sub_inset_menu_mobile ul li :hover{background:#fc0;}
.de_i_mobile{}
.de_i_mobile_active{background-color:#fc0; height:73px; padding:18px; float:left;}

.sub_inset_menu_mobile p {
   color:#000;
   text-align:center;
   font-size: 11px;


}

footer{display:none;}
.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; display:none; float:left; margin:15px;}


.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.history_pop{display:none;}
.history_links{display:none;}


}

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 360px) and (max-width: 640px){
.sub_inset_menu_mobile{display:block;}
.history_area{display:none;}
.sub_inset_menu_mobile ul{width:100%;}
.sub_inset_menu_mobile img{text-align:center;}
.sub_inset_menu_mobile ul li {list-style-type:none; float:left; margin-top:10px;}
.sub_inset_menu_mobile ul li a{ width:69px; background-color:#fff; height:73px; padding:15px; border-left:1px solid; float:left;}
.sub_inset_menu_mobile ul li :hover{background:#fc0;}
.de_i_mobile{}
.de_i_mobile_active{background-color:#fc0; height:73px; padding:18px; float:left;}

.sub_inset_menu_mobile p {
   color:#000;
   text-align:center;
   font-size: 11px;


}

footer{display:none;}
.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; display:none; float:left; margin:15px;}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

}

/*Medium Level Tablet device compatibility ---*/
@media screen and (min-width: 640px) and (max-width: 768px){
.history_area{display:none;}
.sub_inset_menu_mobile{display:block;}
.sub_inset_menu_mobile {margin-left: -56px; margin-top: -45px;}
.sub_inset_menu_mobile ul{width:100%;}
.sub_inset_menu_mobile img{text-align:center;}
.sub_inset_menu_mobile ul li {list-style-type:none; float:left; margin-top:10px;}
.sub_inset_menu_mobile ul li a{  background-color: #fff;
    border-left: 1px solid;
    border-radius: 100%;
    float: left;
    height: 70px;
    margin: 0 17px;
    padding: 15px 17px;
    width: 70px;}
.sub_inset_menu_mobile ul li :hover{background:#fc0;}
.de_i_mobile{}
.de_i_mobile_active{background-color:#fc0; height:73px; padding:18px; float:left;}

.sub_inset_menu_mobile p {
   color:#000;
   text-align:center;
   font-size: 11px;


}

footer{display:none;}
.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; display:none; float:left; margin:15px;}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
	width:670px;

}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
   
}

@media only screen 
and (min-width : 768px) and (max-device-width : 1024px) {

.sub_inset_menu_mobile{display:none;}
.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; float:left; margin:15px;}

.de_i{ background-color:#fff; padding: 26px 13px; border-radius:100%; margin: 35px;}
  .de_i:hover{ background-color:#fc0;}
.de_i_active{ background-color:#fc0; padding: 26px 13px; border-radius:100%; margin: 35px;}

.sub_menu_i{margin-right:10px; margin-top:18px;}
.sub_inset_menu p {
   margin: 18px 0px 10px;
   color:#fff;
   text-align:center;
   font-size: 13px;
   font-weight: bold;
}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
	width:400px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

footer{background:#333; display:block; z-index:1;}
.sub_footer{background:#3c3c3c; padding:20px;}
.sub_footer b{font-weight:bold; color:#fff;}
.sub_footer li{ list-style-type:none; line-height:25px;}
.sub_footer li a{color:#999; font-size:12px;}

.i_contact{padding:10px; background:#333; font-size:16px; font-weight:bold; color:#fff; }
.i_contact img{padding:0px 10px;}
.copyrights{text-align:center; color:#818181; padding:10px; font-size:12px; line-height:30px;}


}





/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.history_area{display:none;}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */

.sub_inset_menu_mobile{display:none;}

.sub_inset_menu{display:block;}
.sub_inset_menu ul li{list-style-type:none; float:left; margin:15px;}

.de_i{ background-color:#fff; padding: 26px 13px; border-radius:100%; margin: 35px;}
  .de_i:hover{ background-color:#fc0;}
.de_i_active{ background-color:#fc0; padding: 26px 13px; border-radius:100%; margin: 35px;}


.sub_inset_menu p {
   margin: 18px 0px 10px;
   color:#fff;
   text-align:center;
   font-size: 13px;
   font-weight: bold;
}

.navbar-toggle {
    position: relative;
    float: right;
    /*padding: 3px 2px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;*/
    border: 1px solid transparent;
    border-radius: 4px;
}

.form_bg{
	background:rgba(255,255,255,0.2);
	padding:15px;
	border-radius:10px;
	color:#fff;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.sub_menu_i{margin-top:20px; margin-right:15px;}
 footer{background:#333;  position:fixed; bottom:0px; width:100%; left:0px; display:block; z-index:1;}
.sub_footer{background:#3c3c3c;padding:20px;}
.sub_footer b{font-weight:bold; color:#fff;}
.sub_footer li{ list-style-type:none; line-height:25px;}
.sub_footer li a{color:#999; font-size:12px;}

.i_contact{padding:10px; background:#333; font-size:16px; font-weight:bold; color:#fff; }
.i_contact img{padding:0px 10px;}
.copyrights{margin-left:14%;text-align:center; color:#818181; padding:10px; font-size:12px; line-height:30px;}

.navbar {
    border-radius: 0px;
	margin-bottom:-3px;}
	
	
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
    border-radius: 0px;
    width: 108%;
}
	
	
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


.data-table-long {
	height: auto !important;
	overflow-x: scroll !important;
    overflow-y: scroll !important;
}


	
.sub-link{position:absolute; right:10px; font-size:12px; margin-top:-25px;}
.back_btn img{margin-top:-13px; margin-right:10px; margin-left:5px; margin-bottom:-8px;}


.ui-selectonemenu label.ui-selectonemenu-label {
    box-shadow: none;
}

.ui-selectonemenu{
	box-shadow: none;
}
.mandMsg{margin-left: 20px !important;}

.ui-selectonemenu:hover {
	box-shadow: none;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    background: none;
    border: 0px;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right.ui-state-hover {
	    box-shadow: none;
}

.ui-selectonemenu-panel .ui-selectonemenu-item, .ui-selectonemenu-trigger{
    box-shadow: none;
    background: none;
}

.ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-hover {
   background: #029f5b;
   color:#FFF;
}

.ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-highlight {
	background: #029f5b;
}
.del{
   width: 12px;
    position: relative;
    top: 1px;
    height: 12px;
    display: inline-block;
}

.ep{
     margin: 0 0 0 6px;
    position: relative;
    top: 1px;
    width: 15px !important;
    display: inline-block;
    /*background: url(../img/edit_pen.png) no-repeat;
    height: 12px;*/
    height: 13px;
    margin-right: 2px;
}
.tc1{
      width: max-content;
  }


.overlay {

    pointer-events:none;
    position: absolute;
    margin-top: 23%;
    margin-left: 30%;    
z-index: 1 ;
 box-shadow:none;

  
}
.check{
        background-color:#EFEFEF;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6; 
    filter: alpha(opacity=40); 
    pointer-events: none;

}