
body{background:transparent;}
header{background:#333; height:100px;}




/* Toggle Styles */
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    /*position: absolute; */
    left: 250px;
    width: 0;
     height: 90%;
    margin-left: -250px;
    overflow-y: auto;
       overflow-x: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 1.7em;
}
 
.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 55px;
    color: white;
    font-weight: normal;
    cursor: pointer;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
}
.sidebar-nav li a:hover{background: #697a90;}
.sidebar-nav li a.active{background: #697a90;}
.sidebar-nav li a span.dasb-icon{background: url(../img/dashboard-icon.png); padding: 0 0 2.5em 0;} 
.sidebar-nav li a span.prodcon-icon{background: url(../img/config-icon.png); padding: 0 0 2.5em 0;} 
.sidebar-nav li a span.prodbn-icon{background: url(../img/productbenefits-icon.png); padding: 0 0 2.5em 0;}
.sidebar-nav li a span.opr-icon{background: url(../img/operations-icon.png); padding: 0 0 2.5em 0;}
.sidebar-nav li a span.prodFees-icon{background: url(../img/product-fees.png) 12px 13px no-repeat;}

.icon-one{background: url(../img/new-business-icon.png) 20px 15px no-repeat;}
.icon-two{background: url(../img/underwriting-icon.png) 20px 15px no-repeat;}
.icon-three{background: url(../img/unit-link.png) 20px 15px no-repeat;}
.icon-four{background: url(../img/annuity.png) 20px 13px no-repeat;}
.icon-five{background: url(../img/group-icon.png) 20px 15px no-repeat;}
.icon-six{background: url(../img/policy-icon.png) 20px 15px no-repeat;}
.icon-seven{background: url(../img/product-fees.png) 20px 15px no-repeat;}
.icon-eight{background: url(../img/rates-icon.png) 20px 15px no-repeat;}
.icon-nine{background: url(../img/agency-icon.png) 20px 15px no-repeat;}
.icon-ten{background: url(../img/finance-icon.png) 20px 15px no-repeat;}
.icon-elevan{background: url(../img/charges.png) 20px 15px no-repeat;}

.mHover:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    /*border-left: red 2px solid;*/
}
 





.sidebar-nav li:active,
.sidebar-nav li:focus {
    text-decoration: none;
    
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        /*width: 250px;*/width: 264px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 265px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
	
	.fa-stack {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
	
	
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}