<!-- <app-spinner></app-spinner> -->

<div id="content">
      <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          loadingText="Loading..."
          type="ball-scale-multiple">
        </ngx-spinner>
      <div class="clearfix"></div>
	<div class="container" id="page-content-wrapper">
          
		<div>
               
			  <h2 class="visb-headg" style="margin-left:28px; margin-top: 70px;display: inline-block;">Dashboard</h2> 
             
              <table class="gnrc-table">
                  <tr>
                      <th>Template Id</th>
                      <th>Template Name</th>
                      <th>Product Type</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Last Modified Date</th>
                      <th>Waiting Approval</th>
                      <th>Approved</th>
                      <th>Rejected</th>
                      <th>Publish</th>
                  </tr>
                  <tr id="{{tpush.TemplateId}}" *ngFor="let tpush of templatePush | paginate: { itemsPerPage:3 , currentPage: p }" #opent  style="cursor:pointer;">
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.TemplateId}}</td>
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.TemplateName}}</td>
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.ProductType}}</td>
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.CreatedBy}}</td>
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.CreatedDate}}</td>
                      <td (click)="openTemplate(tpush.TemplateId,tpush.TemplateName,opent,tpush.Publish)">{{tpush.ModifiedDate}}</td>
      
                      <td ><select *ngIf="tpush.PageList?.length>0" style="width: 110px;">
                       <option value="0" selected disabled>--Select--</option>
                        <ng-container *ngFor="let wa of tpush.PageList">
                            <option  *ngIf="!wa.review" value="{{wa.name}}">{{wa.name}}</option>   
                          </ng-container>
                       </select></td>
                      <td><select *ngIf="tpush.PageList?.length>0" style="width: 110px;">
                         <option value="0" selected disabled>--Select--</option>
                         <ng-container *ngFor="let wa of tpush.PageList">
                            <option  *ngIf="wa.review=='Approved'" value="{{wa.name}}">{{wa.name}}</option>    
                          </ng-container>
                       </select></td>
                       <td><select *ngIf="tpush.PageList?.length>0" style="width: 110px;">
                        <option value="0" selected disabled>--Select--</option>
                        <ng-container *ngFor="let wa of tpush.PageList">
                           <option  *ngIf="wa.review=='Rejected'" value="{{wa.name}}">{{wa.name}}</option>    
                         </ng-container>
                      </select></td>
                      <td>
                          <button *ngIf="tpush.Publish" id="published" style="background-color:forestgreen !important;border-color:forestgreen !important;">Published</button>
                          <!-- <ng-container *ngFor="let wa of tpush.PageList">
                           <p #ref style="visibility:hidden;" *ngIf="!tpush.Publish && wa.review">{{wa.review}}</p>
                          </ng-container> -->
                          <button *ngIf="!tpush.Publish && tpush.Review" id="notpublished" style="background-color: #999999 !important;border-color: #999999 !important;"  (click)="publish($event)">Publish</button>
                          <button *ngIf="templateApproval && !tpush.Publish" style="background-color: #999999 !important;border-color: cadetblue !important;"  (click)="review(tpush)">Review</button>
                          <button *ngIf="templateDeletion && !tpush.Publish" style="background-color: #999999 !important;border-color: cadetblue !important;"  (click)="delete($event,tpush.Publish)">Delete</button>
                      </td>

                  </tr>
              </table>
       </div>
       <a *ngIf="templateCreation" style="  position: absolute;
       top:87px;
       right: 4%;" class="btn btn-success" (click)="newTemplate()">New Template</a>
              <!-- <button (click)="stalert()"></button>   -->

            <br/>
            <!-- <div>
              <table class="gnrc-table">
                  <tr>
                      <th>Master Id</th>
                      <th>Master Name</th>
                      <th>Data Entry Modal</th>
                      <th>Created By</th>
                      <th>Created Date</th>
                      <th>Last Modified Date</th>
                  </tr>
                  <tr *ngFor="let mpush of masterPush">
                      <td  (click)="openMaster(mpush.MasterId)" style="text-decoration: underline; text-decoration-color: darkred; cursor:pointer;">{{mpush.MasterId}}</td>
                      <td>{{mpush.MasterName}}</td>
                      <td>{{mpush.dataEntryModal}}</td>
                      <td>{{mpush.CreatedBy}}</td>
                      <td>{{mpush.CreatedDate}}</td>
                      <td></td>
                  </tr>
              </table>
       </div>
            <a style="float: right; margin: 4em 1em 1em 0;" class="btn btn-success" (click)="newMaster()">New Master</a> -->
    </div>

    <pagination-controls style=" position: absolute;
    left: 45%; 
    bottom: 7%;"
           (pageChange)="p = $event"></pagination-controls>
    
</div>
