th{
    border:1px solid black;
    text-align: center;
}

table{
        width: 96%;
    margin-left: 29px;
    margin-top: 10px;
}

td{
    text-align: center;
    border:1px solid cadetblue;;
}

.gnrc-table th,td{padding: 10px;
    border-top: 1px solid #cccccc; border-left: none; border-right: none;
    border-bottom: 1px solid #cccccc;
}
    .gnrc-table td{
    font-size: 13px;
    color: #444;
    
}
.gnrc-table th{
    font-size: 12px;
    color: #444;
    font-weight: 600;
}
    .gnrc-table td:nth-child(even){background:  #f9f9f9; }

    


.copyrights{position: fixed; bottom: 0; width: 100%;}