<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeAlert()">&times;</button>
      <h4 class="modal-title">{{PageName}}</h4>
    </div>
    <br>
    <h4>{{content}}</h4>
    <h4 *ngIf="alertMsg?.length>0" style="font-weight: 700;">Fill the details in</h4>
    <h4 *ngFor="let msgs of alertMsg">{{msgs.msg}}</h4>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
    </div>
  </div>

      
</div>