.swal2-popup {
    font-size: 1.2rem !important;
  }

  .c-list{
    display: inline-grid !important;
    width: -webkit-fill-available !important;
    margin-right: 6% !important;
}
.mandMsg{
  color: red;
  font-weight: 200;
}

.c-btn{
height: auto !important;
}

