#page-content-wrapper-clone{
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;
    
}

.middlePosition{
        margin-top: 5%;
    position: absolute;
    left: -16px;
}
.bottomPosition{
       position: absolute;
    bottom: 0;
    left: 38%;
}

.screen1{
      position: absolute;
    left: 33%;
    right: 34%;
  height:-webkit-fill-available;

}

.modal-title{
    text-align: center;
    font-size: x-large;
        padding-top: 21px;
    padding-bottom: 8px;
}

th{
    border:1px solid black;
    text-align: center;
}

table{
        width: 96%;
    margin-left: 29px;
    margin-top: 10px;
    border-collapse: inherit;
}

td{
    text-align: center;
    border: 0px;
    border-bottom: 1px solid black;
}


.gnrc-table th,td{padding: 10px;

}
    .gnrc-table td{
    font-size: 13px;
    color: #444;
    
}
.gnrc-table th{
    font-size: 12px;
    color: #444;
    font-weight: 600;
}
    .gnrc-table td:nth-child(even){background:  #f9f9f9; }

    

.my-modal{
        margin-top: 10% !important;
    width: 37% !important;
    margin-left: 35% !important;
}

.my-modal .modal-body {
     position: relative;
    padding: 15px;
    height: 348px;
    overflow-y: scroll;

}

.modal-header{
    padding: 0px !important;
}


.modal-header .close {
    margin: 18px;
    position: absolute;
    right: 1px;
  }
