<div class="modal-dialog" *ngIf="changepswd">
  <div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
    <h4 class="modal-title">Change Password</h4>
  </div>

  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="modal-body cu-lbl">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>New Password</label>
            <input class="form-control" type="password" name="pswd" ngModel #pswd="ngModel" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="cpswd" ngModel #cpswd="ngModel" required>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <span style="color:red;">* Length of the Password should not be less than 8.</span><br/>
            <span style="color:red;">* Password should not be same as the Username.</span><br/>
            <span style="color:red;">* Password should not be same as Username reversed.</span><br/>
            <span style="color:red;">* Password should be differ from the old password by at least three characters.</span><br/>
            <span style="color:red;">* Password should be combination of numbers, special characters, both upper and lower case alphabets.</span><br/>
            <span style="color:red;">* Password should always start with character.</span><br/>
            <span style="color:red;">* Password should not start with special character.</span><br/>
        </div>
      </div>
    </div>
    </div>      

      </div>


    <div class="modal-footer">
      <button [disabled]="f.invalid" class="btn btn-primary">Save</button>
    </div>
  </form> 

</div>
</div>

<div class="modal-dialog" *ngIf="forgetpswd">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">&times;</button>
    <h4 class="modal-title">Forgot Password</h4>
  </div>

  <form #f="ngForm" (ngSubmit)="submitForgetPswd(f)">
    <div class="modal-body cu-lbl">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Security Question</label><br/>
                      <p>{{squest}}</p><br/>
                      <input class="form-control" type="text" name="sans" ngModel #sans="ngModel" required>
                  </div>
                </div>
            </div>
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>New Password</label>
            <input class="form-control" type="password" name="fpswd" ngModel #fpswd="ngModel" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="fcpswd" ngModel #fcpswd="ngModel" required>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <span style="color:red;">* Length of the Password should not be less than 8.</span><br/>
          <span style="color:red;">* Password should not be same as the Username.</span><br/>
          <span style="color:red;">* Password should not be same as Username reversed.</span><br/>
          <span style="color:red;">* Password should be differ from the old password by at least three characters.</span><br/>
          <span style="color:red;">* Password should be combination of numbers, special characters, both upper and lower case alphabets.</span><br/>
          <span style="color:red;">* Password should always start with character.</span><br/>
          <span style="color:red;">* Password should not start with special character.</span><br/>
        </div>
      </div>
    </div>
    </div>      

      </div>


    <div class="modal-footer">
      <button [disabled]="f.invalid" class="btn btn-primary">Save</button>
    </div>
  </form> 

</div>
</div>



<div class="modal-dialog" *ngIf="viewDesc">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()">&times;</button>
    <h4 class="modal-title">AUW Description</h4>
  </div>

	<div style="width:100%"  class="field_1 form-group">
		<textarea style="overflow: unset;resize: none;" class="desc" readonly style="width:100%" value="{{viewDescContent}}"></textarea>
		<div>
								
</div>
</div>