.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.chk-lbl input[type="checkbox"] {
    float: left;
    padding: 0;
    width: auto;
    margin: 0.3em 1em 0 0.1em;
}

.chk-lbl p {
    width: auto;
    float: left;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
        margin: 170px auto;
    }
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
    height: 300px;
    min-height: 200px;
    overflow-y: auto;
}

.modal-body2 {
    position: relative;
    padding: 15px;
    height: 270px;
    overflow-y: scroll;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

th,
td {
    border: 1px solid black;
}

/* .cu-lbl label {
    width: 25%;
    float: left;
} */

textHead {
    float: left;
    margin-right: 10%;
}

input.ng-touched.ng-invalid{
    border:1px solid red !important;
}

.desc{
        width: 100%;
    margin-left: 0px !important;
    height: 177px;
    overflow: scroll;
    text-align: center;
    padding-top: 22px;
}
