

<!-- <app-create></app-create> -->
    <!-- Modal LookUp -->
    <div [ngBusy]="busy"></div>
    <div class="modal col-lg fade" id="modalLookUp"  role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form #lookup="ngForm"  autocomplete="off"  (ngSubmit)="lookUpData(lookup)">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Interface CREATION WIZARD
                    </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" >
                  <div style="text-align:left;">
                        <!--<h5>Inter Details</h5> -->
                          <hr>
                          <div class="row">
                            
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <label>Interface Name <span style="color:red">*</span></label>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-12">
                                          <input type="text" id="lookupName" name="lookupName" ngModel  #lookupName="ngModel"  required  class="form-control" aria-describedby="" placeholder="Lookup Name" (change)="checkLookup()">
                                          <span class="validationMsg" *ngIf="lookupName.touched && lookupName.invalid">Please Enter Interface Name</span>
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <label>Database Table Name <span style="color:red">*</span></label>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-12 auto testalign" >
                                            <input type="text" style="width: 350px;margin-bottom:20px"    id="dbName" name="dbName" ngModel  #dbName="ngModel"  required class="form-control" (click)="onInputChangedEvent(dbName)" > 
                                            <table class="gnrc-table" style="    overflow: scroll;
                                            max-height: 300px !important; 
                                            display: -webkit-box;">
                                             
                                                    <tr *ngFor="let em of RefTablesList | grdFilter:{ Table_Name: dbName.value};let i = index " class="listSearch">
                                                     
                                                        
                                                        <td *ngIf='!searched' id="{{em.Table_Name}}"class="col-md-6" (click)="onSelect(em)">{{em.Table_Name}}</td>
                                                       
                                                </tr>
                                                <tr *ngIf="(RefTablesList | filterBy: selectedSearchFilter).length === 0">
                                                    <td>No matching found</td>
                                                  </tr>
                                                  </table>


                                           <!-- <input autocomplete [config]="config2"  style="padding-top: 6px;"  [items]="RefTablesList" (inputChangedEvent)="onInputChangedEvent($event)" style="top:-6px !important"
                                          (selectEvent)="onSelect($event)"  id="dbName" name="dbName" ngModel openOnClick  #dbName="ngModel"  required class="form-control auto" aria-describedby="" placeholder="Database Table Name" (change)="checkDBtable()"> -->

                                          
                                            <!--input autocomplete [config]="config2" [items]="RefTablesList"
                                            (inputChangedEvent)="onInputChangedEvent($event)"
                                            (selectEvent)="onSelect($event)" >
                                          <input type="hidden" id="dbName" name="dbName" ngModel  #dbName="ngModel"  required class="form-control" aria-describedby="" placeholder="DB Table Name" (change)="checkDBtable()"-->
                                        
                                          <!-- <span class="validationMsg" *ngIf="dbName.touched && dbName.invalid">Please Enter Database Table Name</span> -->
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <label>Status <span style="color:red">*</span></label>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-12">
                                          <select class="custom-select" style="width: 100%;" id="sltLookupStatus" name="sltLookupStatus" ngModel  #sltLookupStatus="ngModel"  required >
                                              <option value="active">Active</option>
                                              <option value="inactive">Inactive</option>
                                          </select>
                                          <span class="validationMsg" *ngIf="sltLookupStatus.touched && sltLookupStatus.invalid">Please select Status</span>
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <label>Comments</label>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <div class="col-sm-12">
                                          <input type="text" id="comments" name="comments" ngModel  #comments="ngModel"   class="form-control"  aria-describedby="" placeholder="Comments">
                                      </div>
                                      
                                  </div>
                              </div>
                           
                          </div>
                      
                  </div>
              </div>
              <div class="modal-footer">
                    <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-8">
                                    <span style="float: left;" *ngIf="(!lookup.valid)">
                                            Fields with <i style="color:red ">*</i> are required.
                                    </span>
                                </div>
                          </div>
                   </div>
                     
                    
                  <button id="next" class="btn btn-primary" [disabled]="lookup.invalid" style="display:none">Next</button>
                  <span id="Show" class="btn btn-primary" style="display:none" data-toggle="modal" data-target="#dataEnterMode" (click)="getFieldProperties(showlookupdata,showlookupdata.lookupTableColumn)">Show</span>
                  <!-- <button id="btnNext" class="btn btn-primary" [disabled]="lookup.invalid" data-toggle="modal" data-target="#dataEnterMode" (click)="getFieldProperties(showlookupdata.lookupTableColumn)">Next</button>-->
                  
              </div>
          </div>
        </form>
      </div>
  </div>
  <!-- end of lookup table-->

  <!-- Data fields Mode-->
  <div class="modal col-lg fade" id="dataEnterMode"  role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-ku" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Select Required Data Fields
                    </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div style="text-align:left;">
                      
                          <div class="lookupdetails">
                              <div class="col-md-8">
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <label class="details">Ref. Interface Name :</label>
                                      </div>
                                      <div class="col-sm-6">
                                        <span id="currentLookup"></span>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                      <label>Database Table Name :</label>
                                    </div>
                                    <div class="col-sm-6">
                                      <span id="currentDBtable" class="details"></span>
                                  </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                      <label>Ref. Interface Comments :</label>
                                    </div>
                                    <div class="col-sm-8" style="width: -webkit-fill-available;">
                                      <span id="currentComments" class="details"></span>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="row col-md-12" id="columnTableDiv">
                              <table class="table" id="columnTable">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th scope="col" colspan="2" style="text-align: center;">Field Name</th>
                                          <th scope="col">Data Type</th>
                                          <th scope="col">Size</th>
                                          <!--th scope="col">Table Level Mandatory</th-->
                                          <th scope="col">Data Field Property</th>
                                          <th scope="col">Data Field Name</th>
                                          <th scope="col">Mandatory Flag</th>
                                          <!--th scope="col">Mandatory Message</th-->
                                          <th scope="col">Tool Tip</th>
                                          
                                      </tr>
                                  </thead>
                                  <tbody id="fields">
                                      <tr *ngFor="let field of lookupFields;let i=index;">
                                          <td data-label="Field Name">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="nullable{{i}}" #checkedStatus checked="checked" style="width: 20px;" data-toggle="toggle" (change)='checkedField(i,field)' disabled="{{field.NULLABLE == 'N' || i==0 ? 'disabled':''}}" >
                                                         <!-- <input type="checkbox" id="nullable{{i}}" checked="checked" style="width: 20px;" data-toggle="toggle" (change)='checkedField(i,field)' disabled="{{field.NULLABLE == 'N' && i== 0 || field.NULLABLE == 'N' && field.column_type.mandatory== 'Y' ? 'disabled':''}}" > -->

                                                    </label>
 
                                                </div>
                                          </td>
                                          <td data-label="Field Name">{{field.COLUMN_NAME}}</td>
                                          <td data-label="Data Type"> {{field.DATA_TYPE}}</td>
                                          <td data-label="Size"> {{field.DATA_LENGTH}} </td>
                                          <!--td data-label="Table Level Mandatory"></td-->
                                          <td data-label="Data Field Property" scope="row">{{field.column_type.item_type}}
                                             <a id="displayLookup"></a>
                                             <!-- <a href="#"  data-toggle="modal" data-target="#dataDetailMode" title=" Item Type " (click)="getItemType(field.column_type)"><span style="float: right;"><img class="view" src="assets\img\viewItem.png"></span></a>-->
                                             <a href="#"   title=" Item Type " data-toggle="modal"  (click)="getItemType(lookupFields,i,field.column_type,checkedStatus)"><span style="float: right;"><img class="view" src="assets\img\viewItem.png"></span></a>
                                          </td>
                                          <td data-label="Data Field Name">{{field.column_type.label}}</td>
                                          <td data-label="Mandatory Flag">{{field.column_type.mandatory == 'Y' ? 'Yes':'No'}}</td>
                                          <!--td data-label="Mandatory Message">{{field.column_type.mandatory_msg}}</td-->
                                          <td data-label="Tool Tip"><span data-toggle="tooltip" data-placement="top" title="{{field.column_type.mandatory_msg !='' ? field.column_type.mandatory_msg : 'No message'}}">{{field.column_type.tooltip}}</span></td>
                                      </tr>
                                      
                                  </tbody>
                              </table>
                          </div>
                      
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" id="btnFinish" class="btn btn-primary" (click)="finish()">Finish</button>
              </div>
          </div>
      </div>
  </div>
  <!-- end of Data fields Mode-->

  <!-- data details modal -->
  <div class="modal col-lg fade" id="dataDetailMode" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form #itemFields="ngForm" (ngSubmit)="saveItemFields(itemFields)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Data Details For <span id="selectedCol"></span>
                      </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align:left;">
                        
                            <h5>Table Data Details</h5>
                            <hr>
                            <div class="row">
                             
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Item Type <span style="color:red">*</span> </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="hidden" id="colIndex">
                                            <input type="hidden" id="colItems">  
                                            <select class="custom-select" id="itemType" name="itemType" ngModel  #itemType="ngModel" required (change)="itemTypeVal()">
                                                    <option *ngIf="maintainType=='VARCHAR2'" value="text">TextBox</option>
                                                    <option *ngIf="maintainType=='NUMBER'" value="number">Number Box</option>
                                                    <option *ngIf="maintainType=='VARCHAR2'" value="dropdown">Dropdown</option>
                                                    <!-- <option value="checkbox">Checkbox</option> -->
                                                    <option *ngIf="maintainType=='DATE'" value="date">Date Picker</option>
                                                     <option value="hidden">hidden</option> 
                                            </select> 
                                            <span class="validationMsg" *ngIf="itemType.touched && itemType.invalid">Please select Item Type</span>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-12 showDiv" id="dropdownDiv" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Dropdown</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <table id="dropList">
                                                <thead>
                                                    <tr>
                                                        <th>List Code</th>
                                                        <th>List Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let dp of dropList;let i = index">
                                                        <td><input type="text" id="dpCode{{i}}" name="dpCode{{i}}" ngModel  #dpCode{{i}}="ngModel" class="form-control" aria-describedby="" placeholder=""> </td>
                                                        <td><input type="text" id="dpValue{{i}}" name="dpValue{{i}}" ngModel  #dpValue{{i}}="ngModel" class="form-control" aria-describedby="" placeholder=""> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-2">
                                                <span id="add" class="btn btn-primary"  (click)="addRow('dropList')"><i class="fas fa-plus"></i></span>
                                                <span id="delete" class="btn btn-primary"  (click)="RemoveRow(dropList.length)"><i class="fas fa-minus"></i></span>

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12" id="checkboxDiv" style="display:none;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                              <label>Check Value</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="text" id="CheckValue" name="CheckValue" ngModel  #CheckValue="ngModel" class="form-control" aria-describedby="" placeholder=""> 
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Not Check Value</label>
                                                </div>
                                                <div class="col-sm-12">
                                                    <input type="text" id="noCheckValue" name="noCheckValue" ngModel  #noCheckValue="ngModel" class="form-control" aria-describedby="" placeholder=""> 
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Default State</label>
                                                </div>
                                                <div class="col-sm-12">
                                                        <select class="custom-select"  id="defaultCheck" name="defaultCheck" ngModel  #defaultCheck="ngModel" >
                                                                <option value="checked">Checked</option>
                                                                <option value="notchecked">Not Checked</option>
                                                        </select>
                                                </div>
                                        </div>
                                    </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Label <span style="color:red">*</span> </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" id="fieldLabel" name="fieldLabel" ngModel  #fieldLabel="ngModel" class="form-control" required aria-describedby="" placeholder="">
                                            <span class="validationMsg" *ngIf="fieldLabel.touched && fieldLabel.invalid">Please Enter Label Name/Value</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Max Length</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" id="maxLength" name="maxLength" ngModel  #maxLength="ngModel" class="form-control" aria-describedby="" placeholder="" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="MaxMin" style="display: none">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Min Value</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="number" id="min"  [required]="selectedItemType=='number'" pattern="[0-9]*" name="min" min="0"  ngModel  #min="ngModel" class="form-control" aria-describedby="" placeholder="">
                                         <span style="color:red" *ngIf="min.touched && min.invalid">Enter valid number</span>
                                           <span style="color:red" *ngIf="min.value>max.value">Invalid min max values</span>

                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Max Value</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" id="max" [required]="selectedItemType=='number'"  name="max" pattern="[0-9]*" min="0"  ngModel  #max="ngModel" class="form-control" aria-describedby="" placeholder="">
                                                <span style="color:red" *ngIf="max.touched && max.invalid">Enter valid number</span>
                                                          <span style="color:red" *ngIf="max.value<min.value">Invalid min max values</span>
                                                     
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="MaxMinDate" style="display: none">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Min Date</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="date" [required]="selectedItemType=='date'" id="minDate" (blur)="validDate('mindate',$event,minDate)" name="minDate" ngModel  #minDate="ngModel" class="form-control" aria-describedby="" placeholder="">
                                            <span style="color:red" *ngIf="minDate.touched && minDate.invalid">Enter valid date</span>
                                            <span style="color:red" *ngIf="minDate.value>maxDate.value">Invalid min max date</span>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Max Date</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="date" [required]="selectedItemType=='date'" id="maxDate" (blur)="validDate('maxdate',$event,maxDate)"  name="maxDate" ngModel  #maxDate="ngModel" class="form-control" aria-describedby="" placeholder="">
                                            <span style="color:red" *ngIf="maxDate.touched && minDate.invalid">Enter valid date</span>
                                            <span style="color:red" *ngIf="maxDate.value<minDate.value">Invalid min max date</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Display Width (px)</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="number" id="colWidth" name="colWidth" ngModel  #colWidth="ngModel" class="form-control" aria-describedby="" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Auto/Manual Value Type</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="custom-select"  id="defalutValueType" name="defalutValueType" ngModel  #defalutValueType="ngModel" (change)="defVal()">
                                                    <option value="manual">Manual</option>
                                                    <option value="auto">Auto</option>
                                            </select>
                                           
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-12" id="manualDiv" style="display:none">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Manual Value</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            
                                            <input type="text" id="Manual" name="Manual" ngModel  #Manual="ngModel" class="form-control" aria-describedby="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Auto Value</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="custom-select"  id="AutoValue" name="AutoValue" ngModel  #AutoValue="ngModel">
                                                    <option value="{{currentdate}}">Current Date</option>
                                                    <option value="{{sessionUser}}">Session User</option>
                                                    <option value="{{sessionId}}">Session Id</option>
                                                    <!-- <option value="PageName">Page Name</option> -->
                                            </select>
                                           
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                          <label>Tooltip <span style="color:red">*</span> </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" id="Tooltip" name="Tooltip" ngModel  #Tooltip="ngModel" required class="form-control" aria-describedby="" placeholder="">
                                            <span class="validationMsg" *ngIf="Tooltip.touched && Tooltip.invalid">Please Enter Tooltip value</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                              <label>Mandatory</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                    <label class="toggle-check">
                                                            <input id="mandatory" name="mandatory" ngModel  #mandatory="ngModel" type="checkbox" class="toggle-check-input" />
                                                            <span class="toggle-check-text"></span>
                                                    </label>   
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                  <label>Mandatory Message </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input type="text" id="Mandmsg" [attr.maxlength]="15" name="Mandmsg" ngModel  #Mandmsg="ngModel" class="form-control" aria-describedby="" placeholder="">
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                  <label>Visible </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                        <label class="toggle-check">
                                                                <input id="visibility" name="visibility" ngModel  #visibility="ngModel" type="checkbox" class="toggle-check-input" />
                                                                <span class="toggle-check-text"></span>
                                                        </label>   
                                                        
                                                </div>
                                                
                                            </div>
                                    </div>
                         </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save" class="btn btn-primary" [disabled]="itemFields.invalid">Save</button>
                </div>
            </div>
          </form>
        </div>
    </div>
  <!-- end of data details modal-->

  <!-- Data Entery Mode-->
  <div class="modal col-lg fade" id="modalshowdata" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data Entry Mode
                  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align:left;">


                        <div class="lookupdetails">
                              <div class="col-md-8">
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <label class="details">Ref. Interface Name :</label>
                                      </div>
                                      <div class="col-sm-6">
                                        <span id="selectedLookup"></span>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                      <label>Database Table Name :</label>
                                    </div>
                                    <div class="col-sm-6">
                                      <span id="DataDBtable" class="details"></span>
                                      <input type="hidden" id="EdittableName" >
                                  </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                      <label>Ref. Interface Comments :</label>
                                    </div>
                                    <div class="col-sm-8">
                                      <span id="dataComments" class="details"></span>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-sm-12 addRow">
                                        <a  (click)="AddNewRow()"><i class="fas fa-plus-circle"></i>Add New Row</a>
                                </div>
                        </div>
                        <div class="row col-md-12" id="" style="height: 300px;overflow: scroll;">
                           <form #cnm="ngForm" style="width:100%">
                            <table class="table" id="columnTable">
                                <thead class="thead-dark" id="columnHead">
                                    <tr *ngFor="let th of theader " >
                                        <th scope="col" *ngFor="let i of th.column_name;let n=index;">
                                           <div *ngIf="i !='hidden'" >{{i}}</div>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="columnTbody">
                                    <tr *ngFor="let tr of tableRows | paginate: { itemsPerPage:100 , currentPage:d ,id:'d' };let n=index;" id="row{{n}}" >
                                        <td scope="col" *ngFor="let i of tr.rowData;let k=index;" style="border-top:0px !important;" [ngStyle]="{'width.px': i.columnwidth}">
                                                
                                                <div *ngIf="i.item_type=='text'" class="">
                                                    <input type="{{i.item_type}}" name="fieldtext_{{n}}_{{k}}" id="fieldtext_{{n}}_{{k}}" ngModel #fieldtext="ngModel" [(ngModel)]="i.ItemValue" [required]="i.readOnly" [readonly]="!i.readOnly"  maxlength="{{i.max_len}}" > 
                                                   <p class="alert alert-danger" *ngIf="fieldtext?.errors?.maxlength"> Max length should be {{i.max_len}} -- {{i.ItemValue}} -- {{i.Column}}</p> 
                                                   <span class="validationMsg" *ngIf="fieldtext.invalid">{{i.mandatory_msg}}</span>
                                                </div>
                                                <div *ngIf="i.item_type=='date'" class="td_value">
                                                   <input type="date" alt="{{i.item_type}}" name="fielddate_{{n}}_{{k}}" id="fielddate_{{n}}_{{k}}" ngModel #fielddate="ngModel" [(ngModel)]="i.ItemValue" min="{{i.minDate_value}}" max="{{i.maxDate_value}}" (blur)="checkDate($event,i.minDate_value,i.maxDate_value)" [required]="i.readOnly" [readonly]="!i.readOnly" [ngStyle]="{'width.px': i.columnwidth}">
                                                   <span class="validationMsg" *ngIf="fielddate.invalid">{{i.mandatory_msg}}</span>
                                                </div>
                                                <div *ngIf="i.item_type=='number'"class="td_value">
                                                    <input type="{{i.item_type}}" name="fieldnumber_{{n}}_{{k}}" id="fieldnumber_{{n}}_{{k}}" ngModel #fieldnumber="ngModel" [required]="i.readOnly" min="{{i.min_value}}" max="{{i.max_value}}" [readonly]="!i.readOnly" [(ngModel)]="i.ItemValue"  (change)="checkNumber($event,i.min_value,i.max_value)" [ngStyle]="{'width.px': i.columnwidth}"/>
                                                    <span class="validationMsg" *ngIf="fieldnumber.invalid">{{i.mandatory_msg}}</span>
                                                </div>
                                                <div  *ngIf="i.item_type == 'dropdown'" class="td_value">
                                                    <select name="fieldselect_{{n}}_{{k}}" id="fieldselect_{{n}}_{{k}}" ngModel #fieldselect{{n}}{{k}}="ngModel" [required]="i.readOnly" [disabled]="!i.readOnly" [(ngModel)]="i.ItemValue" [ngStyle]="{'width.px': i.columnwidth}">
                                                        <option *ngFor="let drp of i.dropdownDetails" value="{{drp.listCode}}" selected="i.ItemValue == drp.listCode ? 'selected':''">{{drp.listValue}}</option>                                                
                                                    </select>
                                                    <!-- <span class="validationMsg" *ngIf="fieldselect.invalid">{{i.mandatory_msg}}</span> -->
                                                </div> 
                                                <div  *ngIf="i.item_type == 'checkbox'" class="td_value">
                                                    <input type="{{i.item_type}}" id="fieldcheck_{{n}}_{{k}}" ngModel #fieldcheck="ngModel" checked="" name="fieldcheck_{{n}}_{{k}}" [required]="i.readOnly" [disabled]="!i.readOnly">
                                                    <span class="validationMsg" *ngIf="fieldcheck.invalid">{{i.mandatory_msg}}</span>
                                                </div>
                                                <div  *ngIf="i.item_type == 'hidden'" class="td_value">
                                                    <input type="{{i.item_type}}" id="fieldhidden_{{n}}_{{k}}" name="fieldhidden_{{n}}_{{k}}" ngModel #fieldhidden="ngModel" [(ngModel)]="i.ItemValue" [ngStyle]="{'width.px': i.columnwidth}">
                                                 </div>
                                                
                                        </td> 
                                        <td style="width:10px;border-bottom: 1px solid white;"><a id="editRow{{n}}" (click)="editRow(n,tr.rowData)"><i title="edit" class="fas fa-edit"></i></a></td>
                                        <td style="border-top: 1px solid white;width: 10px;"><a id="deleteRow{{n}}" (click)="deleteRow(n,tr.rowData)"><i class="fas fa-trash-alt" title="delete"></i></a></td> 
                                        <td id="showBtn{{n}}" style="border-bottom: 1px solid white;" >
                                            <button type="submit" title="save" id="saveRow{{n}}" style="display:none;        margin-left: 0px;padding: 6px;height: 30px;"  class="btn btn-primary" (click)="saveRow(n,tr.rowData)"><i class="fas fa-save"></i></button> 
                                          </td>
                                    </tr>
                                    <div *ngIf="lookupList.lookupList?.length==0"> 
                                        no data!!!! 
                                    </div>
                                </tbody>
                            </table>
                            <pagination-controls style=" position: absolute;
                            left: 35%;" (pageChange)="d = $event" id="d"></pagination-controls>
                            <span id="modalBottom"></span>
                            <!-- <button type="submit" [disabled]="cnm.invalid" id="btnFinish" class="btn btn-primary" (click)="saveEditedata()">Save</button> -->

                            </form>
                        </div>
                    
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- end of Data Entry Mode-->



  <div class="conatiner" data-color="dark" id="page-content-wrapper">

      <!-- Stepper Header -->
      <div class="header">
          
                      <h2 style="padding-top: 25px;margin-top: 5%;
    text-align: center;
    text-decoration: underline;">Interface Creation For Reference Table</h2>
          
          <div class="container-fluid">
                  
              <div class="row" style="padding-top: 0px;">
              
                  <div class="col-md-12">

                      <div class="wizard-navigation">
                          <div class="progress-with-circle">
                              <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Save Button -->
      <!--div class="container-fluid">
          <div class="row" style="margin:10px 0;">
              <div class="col-lg-12">
                  <div class=" clearfix">
                      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalLookUp">
                          <i class="fas fa-save"></i> LookUp</button>
                  </div>
              </div>
          </div>
      </div-->


      <!--   Left container   -->
      <div class="container-fluid">
          <form id="frmQuotation" action="quotation-summary.html">
              
              <div class="row">
                  <!-- Premium Details -->
                  <div class="col-lg-12" style="margin-bottom:20px;">
                      <div class="">
                          <div class="card-body" style="margin-top: 3%;">
                            
                              <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-8">
                                            <h5 class="card-title">Available Interfaces For Reference Tables</h5>
                                            <hr>
                                    </div>
                                    
                              </div>
                              <div class="row">
                                    <div class="col-md-8">
                                        <div class=" form-group">
                                          <input type="text" id="search" name="search">  
                                          <button type="button" style="margin-left: 20px;" (click)="searchLookup(lookupList.lookupList)" class="btn btn-primary">
                                            <i class="fas fa-search"></i>Search Interface</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="margin-top:7px;position: absolute;right: 0px; margin-right: 41px;">
                                        <div class=" clearfix">
                                            <button type="button" (click)="setValueForSelect()" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalLookUp">
                                            <i class="fas fa-plus-circle"></i> Create New Interface</button>
                                        </div>
                                    </div>
                                </div>
                                
                              <table class="table" id="">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th scope="col">Interface Name</th>
                                          <th scope="col">Database Table Name</th>
                                          <!-- <th scope="col">Created By</th> -->
                                          <!-- <th scope="col">Created On</th> -->
                                          <th scope="col">Created/Modified By</th>
                                          <th scope="col">Created/Modified Date</th>
                                          <th scope="col">View/Config Data</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let looklist of lookupList.lookupList | paginate: { itemsPerPage:10 , currentPage:p , id:'p' };  let j=index; " id="rowInterface{{j}}">
                                        <td data-label="Interface Name" scope="row">
                                           <a id="displayLookup" style="word-break: break-all;" data-toggle="modal" data-target="#modalLookUp" title=" {{looklist.lookupName}} " (click)="showLookup(looklist)"> {{looklist.lookupName}} </a>
                                        </td>
                                        <td data-label="Database Table Name">{{looklist.lookupTableName}}</td>
                                        <!-- <td data-label="Created By">{{looklist.lookupCreatedBy}}</td>
                                        <td data-label="Created On">{{looklist.lookupCreatedOn | date: 'dd/MM/yyyy' }}</td> -->
                                        <td data-label="Created/Modified By">{{looklist.lookupLastModifiedBy}}</td>
                                        <td data-label="Created/Modified Date">{{looklist.lookupLastModifiedDate | date: 'dd/MM/yyyy'}}</td>
                                        <td data-label="View/Config Data" >
                                            <a id="viewData" *ngIf="looklist.lookUpStatus=='active'"  data-toggle="modal" data-target="#modalshowdata" title=" View/Config Data Of {{looklist.lookupName}} " (click)="showDBdata(looklist)"><span style="float: right;"><img class="view" src="assets\img\viewLookup.png"></span></a>
                                        </td>
                                    </tr>
                                    <div *ngIf="lookupList.lookupList?.length==0">
                                        no data!!!! 
                                    </div>
                                </tbody>
                                   
                              </table>
                              <pagination-controls style=" position: absolute;
    left: 35%;" (pageChange)="p = $event" id="p"></pagination-controls>
                                                         
                          </div>
                      </div>
                                        
                  </div> 
              </div>
          </form>
    
     

    