img.view {
    width: 20px;
    height: 20px;
}

#columnTableDiv{
    overflow-x: scroll;
   
    height: 250px;
}

#columnHead{
    /* display: table;
    width: calc( 100% - 1em ); */
}

#columnHead th{
    padding-left: 5px;
}
#columnTbody{
    /* display:block; */
    overflow-x: scroll;
    max-width: 100%;
    /* height: 250px;  */
}
#columnTbody td {
    /* background: red; */
    font-size: 14px;
    /* font-weight: bold; */
    text-align: left;
    padding: 5px 2px 2px 7px;
}
#fields td {
    /* background: red; */
    font-size: 14px;
    /* font-weight: bold; */
    text-align: left;
    padding: 5px 2px 2px 7px;
}

.showDiv{
    background: lightgrey;
    padding: 10px;
}

.toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
}
.toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #CCC;
    padding: 0.25em 0.5em 0.25em 2em;
    border-radius: 1em;
    min-width: 2em;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.15s;
}
.toggle-check-text:after {
    content: ' ';
    display: block;
    background: #FFF;
    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    position: absolute;
    left: 0.3em;
    top: 0.25em;
    transition: left 0.15s, margin-left 0.15s;
}
.toggle-check-text:before {
    content: 'No';
}
.toggle-check-input:checked ~ .toggle-check-text {
    background: #8ad869;
    padding-left: 0.5em;
    padding-right: 2em;
}
.toggle-check-input:checked ~ .toggle-check-text:before {
    content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
    left: 100%;
    margin-left: -1.4em;
}

.lookupdetails{
    /* background:lightgrey; */
    background: rgba(232, 231, 231, 0.57);  
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
     height: 200px;
    overflow: scroll;

}

.modal-ku {
    min-width: 1172px!important;
}
#viewData{
    float:left
}
.autocomplete > input {
    width: 100%;
    padding: 5px;
        margin-top: 1px;
}
div#dataEnterMode {
    overflow: auto;
}
.addRow a {
    float: right;
    padding: 12px;
    margin-right: 20px;
}
.float-right{
    float:right;
}
.modal{
    z-index: 99999;
    opacity: 1;
}
.checkbox{
 margin-top: 0px; 
 margin-bottom: 0px; 
}
.col-sm-12 .auto div {
    width: 100%!important;
}

.col-sm-12 .auto div ng2-input-autocomplete .autocomplete input {
    width: 100%!important;
    margin-top: 0px!important;
    border-radius: 0;
}
.modal-header .close {
    margin-top: -30px;
}
.modal-title {
    margin-top: 0px;
    line-height: 1.42857143;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.swal2-container {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 111111 !important;

    /* z-index: 9999999999; */
}
swal2-icon{
    width: 25px;
    height: 25px;
}
.swal2-icon.swal2-info {
    border-color: #9de0f6;
    color: #3fc3ee;
}
.swal2-icon.swal2-info {
    font-family: 'Open Sans', sans-serif;
    color: #3fc3ee;
    border-color: #9de0f6;
    font-size: 5px;
    line-height: 25px;
    text-align: center;
}
/*sticky header
body {
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555;
  }
  
  table {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    border-collapse: collapse;
  }
  
  th {
    padding: 5px;
    /* NOTE: th padding must be set explicitly in order to support IE 
    text-align: right;
    font-weight: bold;
    line-height: 2em;
    color: #FFF;
    background-color: #555;
  }
  
  tbody td {
    padding: 10px;
    line-height: 18px;
    border-top: 1px solid #E0E0E0;
  }
  
  tbody tr:nth-child(2n) {
    background-color: #F7F7F7;
  }
  
  tbody tr:hover {
    background-color: #EEEEEE;
  }
  
  td {
    text-align: right;
  }
  
  td:first-child,
  th:first-child {
    text-align: left;
  }
  */

 .auto>div{
width: -webkit-fill-available; 
  }

  .validationMsg{
      color: red;
  }

  .autocomplete{
    margin-top: -6px;
  }

  .testalign::ng-deep input{
    margin-top: -6px;
    width: 566px;

  }

  .ng2-auto-complete input {
    height: 100px;
    overflow-y: auto;
}
 

th,td{
    border:1px solid black;
}

.selected-list > .c-btn {
    height: auto !important;
}
.gnrc-table th,td{padding: 3px;
    border-top: 1px solid #cccccc; border-left: none; border-right: none;
    border-bottom: 1px solid #cccccc;
}
    .gnrc-table td{
    font-size: 13px;
    color: #444;
    
}
.gnrc-table th{
    font-size: 12px;
    color: #444;
    font-weight: 600;
}
    .gnrc-table td:nth-child(even){background:  #f9f9f9; }